<a href="https://colab.research.google.com/github/neysin/orm/blob/main/programmers_day15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 조건에 맞게 수열 변환하기 1
def solution(arr):
    l =[]
    for i in arr:
        if i % 2 ==0:
            if i >= 50:
                l.append(int(i/2))
            else:
                l.append(i)
        else:
            if i < 50:
                l.append(i*2)
            else:
                l.append(i)
    return l

arr = [1, 2, 3, 100, 99, 98]
solution(arr)

In [10]:
# 조건에 맞게 수열 변환하기 2
def solution(arr):
    a = 0
    while True:
        l = []
        for i in arr:
            if i % 2 == 0 and i >= 50:
                l.append(int(i/2))
            elif i % 2 != 0 and i < 50:
                l.append(i*2 + 1)
            else:
                l.append(i)

        if arr == l:
            return a
        else:
            a += 1
            arr = l

    return a

arr = [1, 2, 3, 100, 99, 98]
solution(arr)

5

1로 만들기

In [12]:
# 1로 만들기
def solution(num_list):
    answer = 0
    for i in num_list:
        count = 0
        while i != 1:
            count += 1
            if i % 2 == 0:
                i = i / 2
            else:
                i = (i-1) / 2
        answer += count

    return answer




num_list = [12, 4, 15, 1, 14]
solution(num_list)

11

In [ ]:
# 예를 들어 i=12 일때, bin(i) 를 하면 '0b1100' 이 됩니다.
# 여기서 우리는 마지막으로 남겨야 하는 1; 즉 2^0인 맨끝의 '0'과
# 이진수를 나타내는 앞의 '0b' 총 길이 3을 제외한 나머지 숫자들인 "110" 을
# 없애는 것이 목표값이 되는데, 이는 각 자리마다 2를 나누는 횟수기 때문에
# "110"의 길이인 3이 됩니다. 홀 수 일 때는 어차피 -1을 해서 짝수로 만들기 때문에
# 가능합니다.
def solution(num_list):
    return sum(len(bin(i)) - 3 for i in num_list)

In [14]:
def solution(num_list):
    if len(num_list) >= 11:
        return sum(num_list)
    else:
        a = 1
        for i in num_list:
            a *= i
        return a


num_list = [3, 4, 5, 2, 5, 4, 6, 7, 3, 7, 2, 2, 1]
solution(num_list)

51

In [ ]:
# prod는 순회가능한 객체들의 모든 곱을 구해주는 함수.
from math import prod

def solution(num_list):
    return sum(num_list) if len(num_list)>=11 else prod(num_list)

In [16]:
# 원하는 문자열 찾기
def solution(myString, pat):
    if pat.lower() in myString.lower():
        return 1
    else:
        return 0

myString = "AbCdEfG"
pat = "aBc"

solution(myString, pat)

1