<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0114_%ED%98%95%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 형변환과 input, print

In [1]:
'10' + '10'

'1010'

In [2]:
int('10') + int('10')

20

In [4]:
오늘_잡은_물고기_수 = '371'

오늘_잡은_물고기_수 = int(오늘_잡은_물고기_수) + 10
오늘_잡은_물고기_수

381

In [5]:
int('leehojun')

ValueError: invalid literal for int() with base 10: 'leehojun'

In [9]:
s = '98710%'
print(s[:-1] * 2)
print(int(s[:-1]) * 2)

9871098710
197420

In [10]:
print("bool('test') : ", bool('test!!'))
print("bool(1) : ", bool(1))
print("bool(0) : ", bool(0))
print("bool(-1) : ", bool(-1))
print("bool(' ') : ", bool(' '))
print("bool('') : ", bool(''))
print("bool(None) : ", bool(None))

bool('test') :  True
bool(1) :  True
bool(0) :  False
bool(-1) :  True
bool(' ') :  True
bool('') :  False
bool(None) :  False

In [13]:
print(f"bool([1,2,3]) :  {bool([1, 2, 3])}")
print(f"bool([]) :  {bool([])}")

bool([1,2,3]) :  True
bool([]) :  False

In [14]:
tuple([1,2,3])

(1, 2, 3)

In [16]:
t = (1,2,3)
list(t)

[1, 2, 3]

In [18]:
dict([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [20]:
x = input('좋아하는 숫자를 입력하세요 : ')
x
print(type(x))

좋아하는 숫자를 입력하세요 : 10
<class 'str'>

In [23]:
이름 = '캣'
나이 = 12

print('1. 제 이름은', 이름, '입니다. 제 나이는', 나이, '입니다.')
print(f'2. 제 이름은 {이름} 입니다. 제 나이는 {나이} 입니다.')
print('3. 제 이름은 {} 입니다. 제 나이는 {} 입니다.'.format(이름, 나이))
print('4. 제 이름은 %s입니다. 제 나이는 %d입니다.'%(이름, 나이))

1. 제 이름은 캣 입니다. 제 나이는 12 입니다.
2. 제 이름은 캣 입니다. 제 나이는 12 입니다.
3. 제 이름은 캣 입니다. 제 나이는 12 입니다.
4. 제 이름은 캣입니다. 제 나이는 12입니다.

# 산술연산과 할당연산

In [24]:
오늘_잡은_물고기 = 0
오늘_판_물고기 = 0
매출 = 0

In [25]:
오늘_잡은_물고기 = 오늘_잡은_물고기 + 10
오늘_판_물고기 = 오늘_잡은_물고기
재고 = 오늘_잡은_물고기 - 오늘_판_물고기
매출 = 오늘_판_물고기 * 100 # 모든 물고기는 100원입니다.

In [30]:
print(f'나는 오늘 {오늘_잡은_물고기}마리를 잡았고 {오늘_판_물고기} 마리를 팔았다냥')
print(f'오늘 재고는 {재고} 마리다냥!')
# 매일 2배씩 성장하는 것을 목표로 삼았습니다.
print(f'오늘 {매출}원을 벌었으니 내일은 {매출*2}원을 벌테다!')
print('오늘', 매출,'원을 벌었으니 내일은', 매출*2, '원을 벌테다!')

나는 오늘 10마리를 잡았고 10 마리를 팔았다냥
오늘 재고는 0 마리다냥!
오늘 1000원을 벌었으니 내일은 2000원을 벌테다!
오늘 1000 원을 벌었으니 내일은 2000 원을 벌테다!

In [38]:
# A등급 : 1000원, B등급 : 500원, C등급 : 100원
# 오늘 잡은 물고기 : A등급 5마리, B등급 7마리, C등급 10마리

등급별_가격 = {'A등급': 1000, 'B등급': 500, 'C등급': 100}

A등급 = 5
B등급 = 7
C등급 = 10
매출 = 0

In [40]:
# 손님의 주문
# A등급 2마리, B등급 3마리 주세요.
# 받은 돈 = 4000

A등급 = A등급 - 2
B등급 = B등급 - 3
합계 = 등급별_가격['A등급'] * 2 + 등급별_가격['B등급'] * 3
받은_돈 = 4000

print(f'감사합니다. 여기 거스름돈 {받은_돈 - 합계}원 입니다.')

재고 = A등급 + B등급 + C등급
매출 = 매출 + 합계

print(f'현재 매출 : {매출}, 재고 : {재고}')

감사합니다. 여기 거스름돈 500원 입니다.
현재 매출 : 3500, 재고 : 12

In [41]:
세금 = 매출/4
순익 = 매출 - 세금

매출, 세금, 순익

(3500, 875.0, 2625.0)

In [ ]:
# 산술연산자 정리

10 + 10
10 - 10
10 / 3 # float
10 // 3 # int
10 * 3
3 ** 3
3 ** 2
10 % 3
10 % 2

# ++a
# --a

In [44]:
오늘_잡은_물고기 += 10
오늘_잡은_물고기

40

In [45]:
오늘_잡은_물고기
오늘_판_물고기

print(오늘_잡은_물고기 > 오늘_판_물고기)
print(오늘_잡은_물고기 < 오늘_판_물고기)
print(오늘_잡은_물고기 >= 오늘_판_물고기)
print(오늘_잡은_물고기 <= 오늘_판_물고기)
print(오늘_잡은_물고기 == 오늘_판_물고기) # python,값, 타입
print(오늘_잡은_물고기 != 오늘_판_물고기)
# print(오늘_잡은_물고기 === 오늘_판_물고기) # javascript, 값, 타입

True
False
True
False
False
True

In [46]:
if 오늘_잡은_물고기 > 오늘_판_물고기:
    print('아직 물고기를 다 팔지 않았습니다.')

아직 물고기를 다 팔지 않았습니다.

In [ ]:
# 논리 연산자

a = True
b = False

a and a # 논리 곱(*)
a and b

a or a # 논리 합(+)
a or b

not a

In [49]:
오늘_잡은_물고기 = 10
오늘_판_물고기 = 10
전날_매출 = 10000
오늘_매출 = 20000

if (오늘_잡은_물고기 == 오늘_판_물고기) and (전날_매출*2 <= 오늘_매출):
    print('오늘 물고기 판매 끝!')
    print('매출 목표 달성!')
else:
    print('오늘의 목표를 달성하지 못했습니다.')

오늘 물고기 판매 끝!
매출 목표 달성!

In [50]:
x = 15

if x % 3 == 0 and x % 5 == 0:
    print('3과 5의 공배수입니다.')
else:
    print('3과 5의 공배수입니다.')

3과 5의 공배수입니다.

In [51]:
# 비트 연산자

a = 10
b = 2

print(a & b)

2

In [52]:
bin(10), bin(2)

('0b1010', '0b10')

In [ ]:
# 1010
# 0010
# ____
# 0010 -> 2

In [53]:
print(b<<2)

8

In [54]:
# 10 -> 2
# 1000 -> 8

In [55]:
print(b>>1)

1

In [56]:
# 10 -> 2
# 1 -> 1

In [57]:
print(3>>1)

1

In [59]:
a^b

# 1010
# 0010
# ____
# 1000 ---> 8

a, b

(10, 2)

In [60]:
~a

-11

In [61]:
bin(a), bin(~a) # 2의 보수 표현 방

('0b1010', '-0b1011')

In [63]:
a = 40
b = 14
a & b # bit AND

# 101000
# 001110
# 001000

# bin(a), bin(b)

8

In [66]:
a = 40
b = 14
a | b # bit OR

# 101000
# 001110
# 001000

# bin(a), bin(b)

46

In [67]:
a = 40
b = 14
a ^ b # bit XOR : 다를 때만 1, 같은 때에는 0

# 101000
# 001110
# 001000

# bin(a), bin(b)

38

In [69]:
a = 40

~ a# bit NOT

# 101000
# 010111 # 비트 단위를 뒤짚었음!
# 011000 # 비트단위를 뒤짚고 +1 한 값

# 1. 0을 2개로 표현하지 않아도 됨!
# 2. 더했을 경우 올림수 하나만 버리면 됨!

# bin(a), bin(b)

-41

In [72]:
a = 40
print(bin(a))
print(a<<2)
print(int('10100000', 2))

print(bin(a))
print(a>>2)
print(int('1010', 2))

0b101000
160
160
0b101000
10
10

In [ ]:
### 연산자 우선순위

1. 리스트, 튜플, 딕셔너리, 셋
2. 인덱싱, 슬라이싱
3. **
4. *, @, /, //, %
5. +, -
6. 비트단위 연산
7. in, not in, is , is not
8. 논리연산(not, and, or)
9. if, else
10. lambda

In [73]:
# 식별연산

'leehojun' == 'leehojun'

True

In [74]:
'leehojun' is 'leehojun'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-74-8d5d56d37c6c>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'leehojun' is 'leehojun'

True

In [80]:
a = [1,2,3,4]
b = [1,2,3,4]

a == b
a is b

id(a), id(b)

(132176760446464, 132176759436992)

In [78]:
a = 10000000
b = 10000000

a == b
a is b

False

In [76]:
a = 100
b = 100

a == b
a is b

True

In [77]:
a = 10
b = a
c = b

a == c
a is c

True

In [81]:
a = [1,2,3,4]
b = [1,2,3,4]

a == b, a is b, a in b

(True, False, False)

In [82]:
a = [1,2,3,4]
b = [1,2,3,4]

2 in b, [2] in b, [1, 2] in b

(True, False, False)

In [83]:
'l' in 'leehojun'

True

In [84]:
'lee' in 'leehojun'

True

In [85]:
10 in (10, 20, 30), (2) in (10, 20, 30), (1, 2) in (10, 20, 30)

(True, False, False)

In [86]:
a = {10, 10, 20}
10 in a, {10} in a, {10, 20} in a

(True, False, False)

In [88]:
a = {'key': 'value', 'key2':'value'}
'key' in a, 'value' in a, ('key', 'key2') in a

# ('key': 'value') in a # error!

(True, False, False)