In [1]:
# 라이캣의 개인정보 입력하기

이름 = '캣'
설명 = '위니브 월드 외각에 살고 있는 생선가게 주인 캣(cat)'
나이 = 10
오늘_잡은_물고기 = '10'
키 = '45cm'
몸무게 = 1.2
육식 = True
초식 = True
돈 = 1000
훈장 = []
기술 = ['고기잡이', '고기팔기']

'''
라이캣의 개인정보입니다.
성장함에 따라 해당 값이 변합니다.

주의) 마음대로 성장시키지 마세요!
'''

'\n라이캣의 개인정보입니다.\n성장함에 따라 해당 값이 변합니다.\n\n주의) 마음대로 성장시키지 마세요!\n'

In [2]:
print(이름)
print(나이)

캣
10

In [4]:
나이 = 11
나이

11

In [7]:
나이 = 나이 + 1

In [8]:
나이

12

## 변수의 규칙

1. 변수 중간에 띄어쓰기를 하지 않습니다. 띄어씌기를 명시하고 싶으실 때에는 언더스코어('_')를 사용하세요!
2. 첫 글자는 숫자나 특수문자를 쓰지 않습니다. 물론 언더스코어는('_')는 제외입니다.
3. 첫 글자를 대문자로 쓰지 않습니다. (Class가 대문자로 쓰기 때문이지만, 대문자로 써도 실행됩니다.)
4. 예약어를 사용하지 않습니다. 예를 들어 뒤에 'print' 구문이 나오는데요. 이러한 함수명이나 구문은 변수명으로 사용하지 않습니다.
5. 변수명은 대소문자를 가립니다! 'Apple'과 'apple'은 다른 변수가 됩니다.

In [9]:
오늘_잡은_물고기 + 1

TypeError: ignored

In [10]:
int(오늘_잡은_물고기) + 1

11

In [11]:
print(type(오늘_잡은_물고기))

<class 'str'>

In [12]:
print(type(이름)) # '캣'
print(type(나이)) # 현재 12
print(type(오늘_잡은_물고기)) # 현재 10
print(type(몸무게))
print(type(육식)) #True
print(type(기술)) #['고기잡이', '고기팔이']

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>