<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0104_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 논리연산

In [8]:
def test1():
    print("test1 함수 호출!") # test1 호출 후 False 출력
    return False

def test2():
    print("test2 함수 호출!") # 따라서 test2는 무시
    return True

result = test1() and test2() # test1이 False 이므로 test2 결과는 무시
print(result) # 결과: False

test1 함수 호출!
False

# 2. 할당연산자

In [10]:
x = 5
y = 2
z = 10

x_1 = x + y * z
x += y * z  # y * z 연산 후 x에 값을 할당합니다.
print(x_1)  # 결과: 25
print(x)

25
25

In [11]:
coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)

True
True

In [12]:
coffee_employee = -6
orange_employee = -6

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee) # id 값 불일치

False
True

# 3. 식별연산자

In [13]:
# 2. 예시 2

a = [1, 2, 3] # 리스트 형인 [1,2,3]
b = [1, 2, 3]
c = a # 리스트 형인 [1,2,3]을 a에 있는 것을 재할당

print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True

In [14]:
print(id(a), id(b), id(c))

139976314061696 139976090833472 139976314061696

# 4. 멤버연산

In [ ]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'

print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False
print([1, 2] in b) # 출력: False
print('h' in c) # 출력: True
print('hello ' in c) # 출력: True

In [15]:
print(1 in a) # 출력: True

True

In [16]:
print(0 not in a) # 출력: True

True

In [17]:
print([2] in b) # 출력: False

False

In [21]:
# 자료형태를 잘 파악해서 in 을 사용해야 한다
a_1 = [[1,2], 3, 4]
# 리스트 안에 있는 값은 정수형 1, 3, 4 / 리스트형
print([2] in a_1)
print([1,2] in a_1)

False
True

In [18]:
print([1, 2] in b) # 출력: False

False

# 5. 연산자 순서

In [22]:
-2 ** 2 # 출력: -4, -(2 ** 2)

-4

In [23]:
(-2) ** 2

4

In [24]:
True * True and True + False # 출력: 1 , ((True * True) and (True + False))

1

# 6. 연습문제

In [33]:
# 1번

a = 100
print((a > 100) and (a < 200)) # F
print((a > 100) or (a < 200))  # T
print((a >= 100) and (a <= 200)) # T
print((a >= 100) or (a <= 200)) # T

False
True
True
True

In [34]:
# 2번

b = 25
(b % 2 == 0) and (b % 5 == 0) # F

False

In [26]:
# 3번

c = 1000
result = c / 100
print(result)

10.0

In [28]:
# 4번
# 입력한 금액을 각각 금액으로 몇개가 나오는지 계산

금액 = float(input())
a = int(금액/5000)
b = int(금액/1000)
c = int(금액/500)
d = int(금액/100)
print(f'5000원권 : {a}개, 1000원권 : {b}개, 500원 : {c}개, 100원 : {d}개')

5000
5000원권 : 1개, 1000원권 : 5개, 500원 : 10개, 100원 : 50개

In [30]:
# 입력한 금액이 각각 금액들로 나누어 몇개가 나오는지 계산

금액 = float(input())
a = int(금액/5000) # 5000원
b = int((금액-5000*a)/1000) # 1000원
c = int((금액-5000*a-1000*b)/500) # 500원
d = int((금액-5000*a-1000*b-500*c)/100) # 100원
print(f'5000원권 : {a}개, 1000원권 : {b}개, 500원 : {c}개, 100원 : {d}개')

12300
5000원권 : 2개, 1000원권 : 2개, 500원 : 0개, 100원 : 3개

In [39]:
# 5번

# 제품의 원가와 할인률 입력
원가 = float(input())
할인률 = float(input())
할인된_가격 = 원가 - 원가*(할인률/100) # 할인된 후의 가격 출력
print(f'할인된 가격은 {할인된_가격}입니다.')

10000
20
할인된 가격은 8000.0입니다.

In [38]:
# 6번

이름 = input()
나이 = int(input())

내년_나이 = 나이 + 1
이름의_길이 = len(이름)
성인_여부_판단 = 내년_나이 >= 18

print(f'내년 나이 = {내년_나이}세')
print(f'이름의 길이 = {이름의_길이}')
print(f'성인 여부 판단 = {성인_여부_판단}')

안효준
18
내년 나이 = 19
이름의 길이 = 3
성인 여부 판단 = True