<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0110_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 1번
a = int(input())

if a > 5 :
    print(f'{a}는 5보다 큽니다.')
else :
    print(f'{a}는 5보다 작거나 같습니다.')

4
4는 5보다 작거나 같습니다.

In [2]:
# 문제 2번

for i in range(5) :
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [4]:
# 문제 3번

for i in range(1, 11) :
    if i % 2 == 0 :
        print(i)

2
4
6
8
10

In [5]:
# 문제 4번

for i in range(1, 21) :
    if i % 3 == 0 :
        print(i)

3
6
9
12
15
18

In [13]:

# 문제 5번

for i in range(2, 10) :
    print(f'{i}단')
    for j in range(1, 10):
        print(f'{i} * {j} = {i * j}')

2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81