<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0111_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문제 1번
number = [1, 5, 7, 4, 3, 22, 23, 15, 26, 17, 3]

def solution(data):
    z = sum(list(filter(lambda x: x > 5 and x < 20 and x % 2 ==0,number)))
    return z

print(solution(number))

0

In [7]:
# 문제 2번

class Book:

    def __init__(self, title, summary, author, publication_date, price):
        self.title = title
        self.summary = summary
        self.author = author
        self.publication_date = publication_date
        self.price = price

    def 할인(self, 할인율):
        할인된_가격 = self.price * (1-할인율/100)
        return 할인된_가격

책 = Book('hello world python', 'hello world...', '이호준', '2024-01-11', 5000)

print(책.할인(10))

4500.0

In [9]:
# 문제 3번

def solution(data):
    result = []
    for character in data:
        if sum(character[1:]) >= 350:
            result.append(character[0])

    result.sort()
    return result

data = [['Licat', 98, 92, 85, 97], ['Mura', 95, 32, 51, 30], ['Binky', 98, 98, 51, 32]]

print(solution(data))

['Licat']

In [16]:
# 문제 4번

def solution(data):
    data_list = list(data.items()) # 딕셔너리 형태의 데이터를 튜플로 묶어 리스트로 변환
    data_list.sort(key=lambda x: x[0]) # 날짜를 기준으로 오름차순으로 정렬
    temperature = sorted(data_list, key=lambda x: x[1], reverse=True)[:3]
     # 온도를 기준으로 내림차순으로 정렬 후 높은 순 3개를 슬라이싱
    return temperature

data = {'2024-01-01': 15, '2024-01-02': 17, '2024-01-03': 16, '2024-01-04': 20, '2024-01-05': 19, '2024-01-06': 21, '2024-01-07': 18}
print(solution(data))

[('2024-01-06', 21), ('2024-01-04', 20), ('2024-01-05', 19)]