<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0114_%EC%BA%A3%EC%9D%98_%ED%95%B4%EA%B3%A8%EC%84%AC_%EC%B6%9C%ED%95%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제 : 캣의 해골섬 출항

In [11]:
# 문제 1
캣의_통장 = 1000000
물고기의_가격 = 30
잡은_물고기의_수 = 110 + 120 + 130 + 140 + 150 + 160 + 170 + 180 + 190 + 200
물고기를_팔고_난_후_캣의_통장 = 1000000 + 잡은_물고기의_수 * 물고기의_가격

In [12]:
잡은_물고기의_수, 물고기를_팔고_난_후_캣의_통장

(1550, 1046500)

In [13]:
잡은_물고기의_수 = (110 + 200) * 10 // 2
잡은_물고기의_수

1550

In [14]:
list(range(110,201,10))
sum(list(range(110,201,10)))

1550

In [15]:
잡은_물고기의_수 = sum([110, 120, 130, 140, 150, 160, 170, 180, 190, 200])
잡은_물고기의_수

1550

In [24]:
format(물고기를_팔고_난_후_캣의_통장, ',')

'1,046,500'

In [19]:
# 문제 2
반지름 = 500
고기가_잘_잡히는_반경 = (반지름 ** 2) * 3.14
고기가_잘_잡히는_반경

785000.0

In [26]:
# 문제 3

물고기를_팔고_난_후_캣의_통장 += (고기가_잘_잡히는_반경 - 314) * 110 * 물고기의_가격
format(int(물고기를_팔고_난_후_캣의_통장), ',')

'2,590,510,300'

In [30]:
# 문제 4

# A등급은 350마리, B등급은 700마리
문제4_물고기_등급 = {'A등급': 100, 'B등급': 50}
문제4_잡은_물고기의_수 = {'A등급': 350, 'B등급': 700}

문제4_총액_A등급 = 문제4_잡은_물고기의_수['A등급'] * 문제4_물고기_등급['A등급']
문제4_총액_B등급 = 문제4_잡은_물고기의_수['B등급'] * 문제4_물고기_등급['B등급']
문제4_총액 = 문제4_총액_A등급 + 문제4_총액_B등급

문제4_비율 = {'A등급': 문제4_총액_A등급/70000*100, 'B등급': 문제4_총액_B등급/70000*100}
문제4_비율

{'A등급': 50.0, 'B등급': 50.0}