<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0121_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for

In [1]:
이름 = '캣'
설명 = '위니브 월드에서 가장 급성장하는 생선회사 대표 캣'
나이 = 19
오늘_잡은_물고기 = '100000'
직원수 = 4
키 = '45.9cm'
몸무게 = 1.6
잡식 = True
돈 = 1100000
훈장 = ['백상아리를 잡은 고양이', '성실한 납세자', '해골섬 낚시꾼', '청년 고용 착한 기업', '회사를 설립한 자']
기술 = ['고기잡이', '고기팔기', '낚시_Lv5', '통발_Lv5', '큰그물_Lv5']

In [2]:
for x in (1, 2, 3, 4, 5):
    print(f'고등어 포장{x}번째 입니다.')

고등어 포장1번째 입니다.
고등어 포장2번째 입니다.
고등어 포장3번째 입니다.
고등어 포장4번째 입니다.
고등어 포장5번째 입니다.

In [3]:
for x in [1, 2, 3, 4, 5]:
    print(f'고등어 포장{x}번째 입니다.')

고등어 포장1번째 입니다.
고등어 포장2번째 입니다.
고등어 포장3번째 입니다.
고등어 포장4번째 입니다.
고등어 포장5번째 입니다.

In [4]:
for x in '1, 2, 3, 4, 5':
    print(f'고등어 포장{x}번째 입니다.')

고등어 포장1번째 입니다.
고등어 포장,번째 입니다.
고등어 포장 번째 입니다.
고등어 포장2번째 입니다.
고등어 포장,번째 입니다.
고등어 포장 번째 입니다.
고등어 포장3번째 입니다.
고등어 포장,번째 입니다.
고등어 포장 번째 입니다.
고등어 포장4번째 입니다.
고등어 포장,번째 입니다.
고등어 포장 번째 입니다.
고등어 포장5번째 입니다.

In [5]:
왕국 = '위니브 월드'
for a in 왕국:
    print(a)
    print('----------')

위
----------
니
----------
브
----------

----------
월
----------
드
----------

In [6]:
왕국 = '위니브 월드'
for a in 왕국:
    print(a)
print('----------')

위
니
브

월
드
----------

In [7]:
기술 = ['고기잡이', '고기팔기', '낚시_Lv5', '통발_Lv5', '큰그물_Lv5']
for a in 기술:
    print(a)
    print(a[0:2])

고기잡이
고기
고기팔기
고기
낚시_Lv5
낚시
통발_Lv5
통발
큰그물_Lv5
큰그

In [13]:
기술 = ['낚시_Lv5', '통발_Lv5', '큰그물_Lv5']
for a in 기술:
    print(a)
    print(a[:-4])
    print(a[:a.find('_')])
    print('-------')

낚시_Lv5
낚시
낚시
-------
통발_Lv5
통발
통발
-------
큰그물_Lv5
큰그물
큰그물
-------

In [20]:
캣의_상태창 = {
    '이름': '캣',
    '설명': '위니브 월드에서 가장 급성장하는 생선회사 대표 캣',
    '나이': '19',
    '키': '45.9cm',
    '몸무게': 1.6
}

for a in 캣의_상태창:
    print(a, 캣의_상태창[a])

이름 캣
설명 위니브 월드에서 가장 급성장하는 생선회사 대표 캣
나이 19
키 45.9cm
몸무게 1.6

In [21]:
for a, b in 캣의_상태창.items():
    print(f'{a}: {b}')

이름: 캣
설명: 위니브 월드에서 가장 급성장하는 생선회사 대표 캣
나이: 19
키: 45.9cm
몸무게: 1.6

In [22]:
for a in 캣의_상태창.items():
    print(f'{a[0]}: {a[1]}')

이름: 캣
설명: 위니브 월드에서 가장 급성장하는 생선회사 대표 캣
나이: 19
키: 45.9cm
몸무게: 1.6

In [27]:
# range(start, stop, step)

print(list(range(2, 10, 2)))
print(list(range(10)))
print(list(range(5, 0, -1)))
print(list(range(2, 10)))

[2, 4, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 4, 3, 2, 1]
[2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
## for, else

for i in range(5):
    print(f'{i}마리의 물고기를 잡았습니다.')
    if i == 10:
        print('배가 다 찼습니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같이니 이정도로 만족하고 돌아갑시다.')
print('수고하셨습니다.')

0마리의 물고기를 잡았습니다.
1마리의 물고기를 잡았습니다.
2마리의 물고기를 잡았습니다.
3마리의 물고기를 잡았습니다.
4마리의 물고기를 잡았습니다.
아직 여유가 좀 있지만, 물고기가 더 없는 것 같이니 이정도로 만족하고 돌아갑시다.
수고하셨습니다.

In [ ]:
## list comprehension

l = []

for i in range(1, 101):
    l.append(i)
l

ll = [i for i in range(1, 101)]
ll

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i} X {j} = {i*j}')

In [ ]:
l = [f'{i} X {j} = {i*j}' for i in range(2,10) for j in range(1,10)]
l

In [43]:
# 다중 리스트 for문

skill = [
    ('고기잡이', 100, 'SS'),
    ('고기팔기', 120, 'SSS'),
    ('낚시', 5, 'C'),
    ('통발', 5, 'C'),
    ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [47]:
# enumerate

skill = [
    ('고기잡이', 100, 'SS'),
    ('고기팔기', 120, 'SSS'),
    ('낚시', 5, 'C'),
    ('통발', 5, 'C'),
    ('큰그물', 5, 'C')
]

for i, (skillName, skillLevel, skillGrade) in enumerate(skill):
    print(i, skillName, skillLevel, skillGrade)

for i, j in enumerate(skill, 100):
    print(i, j)

0 고기잡이 100 SS
1 고기팔기 120 SSS
2 낚시 5 C
3 통발 5 C
4 큰그물 5 C
100 ('고기잡이', 100, 'SS')
101 ('고기팔기', 120, 'SSS')
102 ('낚시', 5, 'C')
103 ('통발', 5, 'C')
104 ('큰그물', 5, 'C')

In [51]:
for i in range(5):
    num = int(input('고등어 몇 개를 구매하실 건가요?'))
    result = num * 5000
    print(result,'원 입니다.')
    break

print('로봇이 종료되었습니다. 삐빅.')

고등어 몇 개를 구매하실 건가요?5
25000 원 입니다.
로봇이 종료되었습니다. 삐빅.

# while

In [53]:
a = 1
while a < 10:
    print(a)
    a += 1

1

In [54]:
while True:
    num = int(input('고등어 몇 개를 구매하실 건가요?'))
    result = num * 5000
    print(result,'원 입니다.')
    if num == -1:
        break

print('로봇이 종료되었습니다. 삐빅.')

고등어 몇 개를 구매하실 건가요?5
25000 원 입니다.
고등어 몇 개를 구매하실 건가요?-1
-5000 원 입니다.
로봇이 종료되었습니다. 삐빅.

In [60]:
fish = 5
while True:
    num = int(input('고등어 몇 개를 구매하실 건가요?'))
    if fish >= num:
        fish = fish - num
        print(f'고등어 {fish}개 남았습니다.')
        if fish == 0:
            print('완판되었습니다.')
            break

    else:
        print(f'손님, 죄송하지만 구매할 수 있는 고등어 {fish}개 남았습니다.')
        fish = 0
        break

고등어 몇 개를 구매하실 건가요?3
고등어 2개 남았습니다.
고등어 몇 개를 구매하실 건가요?2
고등어 0개 남았습니다.
완판되었습니다.

In [62]:
fish = 5
while fish > 0:
    print(f'고등어 {fish}개 남았습니다.')
    # if fish < 3:
    #     break
    fish -= 1
else:
    print('고등어 다 팔렸습니다.')

고등어 5개 남았습니다.
고등어 4개 남았습니다.
고등어 3개 남았습니다.
고등어 2개 남았습니다.
고등어 1개 남았습니다.
고등어 다 팔렸습니다.

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        if j > 5:
            break
        print(f'{i} X {j} = {i*j}')

In [65]:
## continue, pass

x = 10
if x >10:
    pass
print('hello')

def test():
    pass

hello

In [67]:
구매개수_총가격 = [
    (3, 15000),
    (5, 25000),
    (1, 5000),
    (8, 40000),
    (0, 0),
    (2, 10000)
]

for 구매개수, 총가격 in 구매개수_총가격:
    if 구매개수 < 1:
        continue
    print(f'구매개수는 {구매개수}개이며 {총가격}원입니다.')

구매개수는 3개이며 15000원입니다.
구매개수는 5개이며 25000원입니다.
구매개수는 1개이며 5000원입니다.
구매개수는 8개이며 40000원입니다.
구매개수는 2개이며 10000원입니다.