<a href="https://colab.research.google.com/github/neysin/orm/blob/main/programmers_day24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

커피 심부름

In [1]:
# 커피 심부름
# 아메리카노 = 4500, 카페 라테 = 5000
# 메뉴만 적은 팀원의 것 =  차가운 것, "아무거나"를 적은 팀원의 것 = 차가운 아메리카노

def solution(order):
    l = []
    for i in order:
        if "cafelatte" in i:
            l.append(5000)
        elif "americano" in i:
            l.append(4500)
        elif "anything" in i:
            l.append(4500)

    return sum(l)

order = ["cafelatte", "americanoice", "hotcafelatte", "anything"]
solution(order)

19000

In [ ]:
# 조건을 더 간결하게 작성
def solution(order):
    answer = 0
    for want in order:
        if 'latte' in want:
            answer += 500
        answer += 4500

    return answer

In [12]:
# 그림 확대
def solution(picture, k):
    l2 = []
    for i in picture:
        l = [j*k for j in i]
        for _ in range(k):
            l2.append(''.join(l))


    return l2
picture = [".xx...xx.", "x..x.x..x", "x...x...x", ".x.....x.", "..x...x..", "...x.x...", "....x...."]
k = 2
solution(picture, k)

['..xxxx......xxxx..',
 '..xxxx......xxxx..',
 'xx....xx..xx....xx',
 'xx....xx..xx....xx',
 'xx......xx......xx',
 'xx......xx......xx',
 '..xx..........xx..',
 '..xx..........xx..',
 '....xx......xx....',
 '....xx......xx....',
 '......xx..xx......',
 '......xx..xx......',
 '........xx........',
 '........xx........']

조건에 맞게 수열 변환하기 3

In [15]:
# 조건에 맞게 수열 변환하기 3
def solution(arr, k):
    if k % 2 != 0:
        for i in range(len(arr)):
            arr[i] *= k
    else:
        for i in range(len(arr)):
            arr[i] += k

    return arr

arr = [1, 2, 3, 100, 99, 98]
k = 3
solution(arr, k)

[3, 6, 9, 300, 297, 294]

In [ ]:
# 리스트 커프리헨션으로 한줄로 요약함.
def solution(arr, k):
    return [i*k if k%2!=0 else i+k for i in arr]

In [24]:
# I로 만들기
def solution(myString):
    result = []
    for i in myString:
        if i < 'l':
            i = 'l'
            result.append(i)
        else:
            result.append(i)

    return ''.join(result)

myString = "abcdevwxyz"
solution(myString)

'lllllvwxyz'

In [28]:
# 특별한 이차원 배열 1
def solution(n):
    arr = []
    for i in range(n):
        row = []
        for j in range(n):
            row.append(0)
        arr.append(row)

    for i in range(n):
       for j in range(n):
            if i == j:
                arr[i][j] = 1


    return arr

n = 3
solution(n)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [ ]:
# 배열은 아래 2열과 같이 만들어 쓰면 됨.
def solution(n):
    answer=[[0]*n for i in range(n)]
    for i in range(n): answer[i][i]=1
    return answer