<a href="https://colab.research.google.com/github/neysin/orm/blob/main/programmers_%EC%9E%85%EB%AC%B8_day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# 특정 문자 제거하기
def solution(my_string, letter):
    return my_string.replace(letter, '')

my_string = "abcdef"
letter = "f"
solution(my_string, letter)

'abcde'

In [15]:
# 각도기
def solution(angle):
    if angle < 90:
        return 1
    elif angle == 90:
        return 2
    elif angle < 180:
        return 3
    elif angle == 180:
        return 4

angle = 70
solution(angle)

1

In [16]:
# 양꼬치
# 10인분 먹으면 음료수 하나 무료
# 1인분에 12000원, 음료수 하나에 2000원
def solution(n, k):
    free_drink = n // 10
    return n * 12000 + (k - free_drink) * 2000


n = 19
k = 3
solution(n, k)

232000

In [18]:
# 짝수의 합
def solution(n):
    result = 0
    for i in range(1, n+1):
        if i % 2 == 0:
            result += i

    return result

n = 10
solution(n)

30

In [ ]:
# range로 2의 간격을 준다면 짝수를 순회할 수 있으므로 간결하게 작성 가능
def solution(n):
    return sum(range(2, n + 1, 2))