<a href="https://colab.research.google.com/github/neysin/orm/blob/main/programmers_day21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 뒤에서 5등 위로
def solution(num_list):
    return sorted(num_list)[5:]

num_list = [12, 4, 15, 46, 38, 1, 14, 56, 32, 10]
solution(num_list)

[15, 32, 38, 46, 56]

전국 대회 선발 고사

In [5]:
# 전국 대회 선발 고사
def solution(rank, attendance):
    l = []
    l2 = []
    for i in range(len(attendance)):
        if attendance[i] == True:
            l.append(rank[i])

    sort_l = sorted(l) # 2, 4, 5, 7
    for j in sort_l[:3]:
        l2.append(rank.index(j))

    a, b, c = l2[0], l2[1], l2[2]

    return 10000 * a + 100 * b + c


rank = [3, 7, 2, 5, 4, 6, 1]
attendance = [False, True, True, True, True, False, False]
solution(rank, attendance)

20403

In [ ]:
# enumerate로 인덱스 순서를 정하고 인덱싱을 통해 반환
def solution(rank, attendance):
    arr = sorted([(x, i) for i, x in enumerate(rank) if attendance[i]])
    return arr[0][1] * 10000 + arr[1][1] * 100 + arr[2][1]

In [7]:
# 정수 부분
def solution(flo):
    return int(flo)

flo = 1.42
solution(flo)

1

In [14]:
# 문자열 정수의 합
# 풀 때는 list로 해야 하는 줄 알았지만 map 함수 자체가 순회를 시키면서 함수를
# 적용하기 때문에 list를 안써도 됨.
def solution(num_str):
    return sum(map(int, num_str))

num_str = "123456789"
solution(num_str)

45

In [15]:
# 문자열을 정수로 변환하기
def solution(n_str):
    return int(n_str)

n_str = "10"
solution(n_str)

10