<a href="https://colab.research.google.com/github/neysin/orm/blob/main/Pyalgo_7~12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# 문제 7번

def solution(data):
    l= []
    # 숫자 기준으로 정렬 후 정렬되어 순서대로 알파벳을 반환
    sorted_list = sorted(data, key = lambda x: x[1])
    for i in range(len(data)):
        l.append(sorted_list[i][0])
    return l

data = [['A', 3], ['B', 1], ['C', 2]]
solution(data)

['B', 'C', 'A']

In [48]:
# 문제 8번

def solution(data):
    l = []
    # i, j 값 반복 후 절대값과 i,j 값을 튜플로 l에 반환
    for i in data:
        for j in data:
            z = abs(int(i)-int(j))
            l.append((z,[i, j]))

    # 절대값이 0인 값을 제외
    new_l = []
    for abs_z, point in l:
        if abs_z != 0:
            new_l.append((abs_z, point))

    # 리스트 new_l에서 절대값을 기준으로 최솟값을 찾은 후 i,j 쌍을 반환
    return min(new_l, key = lambda x: x[0])[1]

data = [1, 3, 4, 6]
solution(data)

[3, 4]

In [53]:
# 문제 9번

def solution(data):
    math_sort = sorted(data, key = lambda x: x['수'], reverse = True)
    return math_sort[0]['이름']

data = [{'이름': 'A', '국': 30, '영': 20, '수': 85}, {'이름': 'B', '국': 95, '영': 98, '수': 10}]
solution(data)

'A'

In [55]:
# 문제 10번

def solution(data):
    l = []
    # 데이터 값을 캐릭터에 언패킹 후 조건을 충족하는 이름만 반환
    for character in data:
        name, attack, defense, health, mana = character
        if (attack + defense + health + mana) >= 350:
            l.append(name)
    # 이름을 오름차순으로 정렬
    l.sort()

    return l

data = [['Gray', 98, 92, 85, 97], ['Gom', 98, 30, 21, 60], ['Allosa', 98, 90, 99, 98]]
solution(data)

['Allosa', 'Gray']

In [58]:
# 문제 11번
# 패킹으로 문제 풀이 시 주어진 데이터 값이 언패킹의 개수를 넘어가면 오류 발생
def solution(data):
    l = []
    for score in data:
        국, 영, 수 = score
        if (국 + 영 + 수) >= 240:
            l.append(1)

    return l.count(1)

data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]]
solution(data)

3

In [60]:
# 위의 문제를 해결하기 위해 필요한 값만 인덱싱함.
def solution(data):
    l = []
    for score in data:
        total = score[0] + score[1]+ score[2]
        if total >= 240:
            l.append(1)

    return l.count(1)

data = [[98, 92, 85], [95, 32, 51], [98, 98, 51]]
solution(data)

2

In [69]:
# 문제 12번
def solution(data):
    # 정렬 기준을 data[1]번의 밸류값으로 할려하는데 이를 호출하기 위해
    # data[0]을 공백기준으로 나누어 [1]을 사용
    return sorted(data[0], key = lambda x: data[1].get(x.split()[1]))

data = [['제주시 A동 한라산길 61', '제주시 B동 백록담길 63', '제주시 C동 사라봉길 31'], {'A동': 63007, 'B동': 63010, 'C동': 63002}]
solution(data)

['제주시 C동 사라봉길 31', '제주시 A동 한라산길 61', '제주시 B동 백록담길 63']