<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0122_pyalgo_1~6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
# 문제 1번


def solution(data):
    '''
    주어진 리스트에서 홀수를 찾아 합을 반환하는 함

    Parameters:
    - data: list of int, 함수에 입력으로 주어지는 정수의 리스트

    Returns:
    - int, 주어진 리스트에서 홀수만 더한 값
    '''
    l = []
    for i in data:
        if i % 2 != 0:
            l.append(i)
    return sum(l)

data = [1, 2, 3, 4, 5]

print(solution(data))

9

In [88]:
# 문제 2번

def solution(data):
    '''
    주어진 리스트의 각 요소를 곱한 결과를 반환하는 함수

    Parameters:
    - data: list of int, 함수에 입력으로 주어지는 정수의 리스트

    Returns:
    - int: 주어진 리스트의 각 요소를 곱한 결과
    '''
    mul = 1
    if len(data) == 0:
        return 0

    for i in range(len(data)):
        mul = mul * data[i]
    return mul

data = [1,2,3,4,5]

solution(data)

120

In [69]:
# 문제 3번

def solution(data):
    '''
    3과 5의 배수를 제외한 리스트의 요소를 더하는 함수

    Parametrs:
    - list of int, 정수로 이루어진 리스트

    Returns:
    - int, 3과 5의 배수를 제외한 리스트의 요소를 더한 값
    '''
    l = []
    for i in data:
        if i % 3 != 0 and i % 5 != 0:
            l.append(i)
    return sum(l)

data = [1, 2, 3, 4, 5]

solution(data)

7

In [93]:
# 문제 4번

def solution(data):
    '''
    리스트 안에 주어진 쿠키의 개수를 순서대로 1배, 2배, 3배,...,한 후
    모든 쿠키의 수를 더하는 함수

    Parameters:
    - list of str, 문자열로 주어진 쿠키의 개수

    Returns:
    - int, 계산이 끝난 쿠키들의 개수 합
    '''
    l = []
    for i in range(len(data)):
        cookie_number = int(data[i][-2])
        mul = cookie_number * (i+1)
        l.append(mul)
    return sum(l)


data = ['쿠키 3개', '쿠키 2개', '쿠키 5개']

solution(data)

22

In [100]:
# 문제 5번

def solution(data):
    '''
    리스트에 주어진 1의 갯수를 반환하는 함수

    Parameters:
    - list of int, 1로 이루어진 정수 리스트

    Returns:
    - int, 리스트에 주어진 1의 갯수를 더한 값
    '''
    l = []
    for i in range(len(data)):
        one_number = str(data[i]).count('1')
        l.append(one_number)
    return sum(l)

data = [1, 11, 111, 1111]
solution(data)

10

In [119]:
# 문제 6번

def solution(data):
    '''
    주어진 문자열의 숫자를 모두 더하는 함수

    Parameters:
    - str, 숫자와 문자가 섞여있는 문자열

    Returns:
    - int, 문자열의 숫자만 골라 모두 더한 값
    '''
    l = []
    for i in data:
        if i.isdigit() == True:
            l.append(i)

    y = []
    for x in l:
        y.append(int(x))

    return(sum(y))


data = '1hel2lo3'

solution(data)

6