<a href="https://colab.research.google.com/github/neysin/orm/blob/main/pyalgo_53%2C_55~57.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 문제 53번

def solution(data):
    company_list, my_money = data
    l = []
    for company_money, company_name in company_list:
        if my_money >= company_money:
            l.append(company_name)
            my_money -= company_money

    return l


data = [(200000, 'A기업'), (300000, 'B기업'), (400000, 'C기업')], 500000
solution(data)

['A기업', 'B기업']

In [3]:
# 문제 55번

def solution(data):
    l = []
    for i in data:
        num = i.count(1)
        l.append(num)

    return sum(l)


data = [[0, 1, 0], [1, 0, 1], [0, 1, 0]]
solution(data)

4

In [4]:
# 문제 56번

def solution(data):
    l = []
    for i in range(len(data)):
        for j in range(len(data[i])):
            if data[i][j] == 1:
                l.append((i,j))
    return l


data = [[0, 1, 0], [1, 0, 1], [0, 1, 0]]
solution(data)

[(0, 1), (1, 0), (1, 2), (2, 1)]

In [9]:
# 문제 57번

def solution(data):
    l = []
    data_list, num = data
    for i in data_list:
        for j in range(len(i)):
            if i[j] % num == 0:
                l.append(True)
            else:
                l.append(False)

    if False in l:
        return False
    else:
        return True


data = ([[2, 4, 6], [8, 10, 12]], 2)
solution(data)

True