<a href="https://colab.research.google.com/github/neysin/orm/blob/main/pyalgo_29~30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 문제 29번
def solution(data):
    '''
    data에 중복되는 숫자를 set을 통해 제거
    set_list에 있는 숫자와 data에 있는 숫자가 겹치는 횟수를 리스트화
    리스트에서 제일 작은 숫자와 일치하는 횟수를 지닌 숫자를 출력
    '''
    set_list = list(set(data))
    l = []
    for i in set_list:
        num = data.count(i)
        l.append(num)

    for i in set_list:
        if min(l) == data.count(i):
             return i


data = [2, 2, 1]
solution(data)

1

In [8]:
# 문제 30번
def solution(data):
    binary_data = bin(data)[2:]
    return binary_data.replace('1','A').replace('0','B')

data = 5
solution(data)

'ABA'