<a href="https://colab.research.google.com/github/neysin/orm/blob/main/240326_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.3 워밍업 문제

## 1번 워밍업 문제(google)

In [1]:
# 주어진 숫자 등장 횟수 세기
str(list(range(1, 101)))
str(list(range(1, 101))).count('8')

20

## 2번 워밍업 문제(daum)

In [3]:
# 최솟값 찾기
data = [4, 3, 8, 1, 2, 8, 11]
result = float('inf')

for i in data:
    if i < result:
        result = i

print(result)

1

In [4]:
# 최댓값 찾기
data = [4, 3, 8, 1, 2, 8, 11]
result = float('-inf')

for i in data:
    if i > result:
        result = i

print(result)

11

In [9]:
# 1차원 점들 중 가장 거리가 짧은 쌍을 출력

s = [1, 3, 4, 8, 13, 17, 20]
result = float('inf')
pair = [0, 0]

for i in range(len(s) - 1):
    if s[i+1] - s[i] < result:
        result = s[i+1] - s[i]
        pair[0] = s[i]
        pair[1] = s[i+1]

print(pair)

[3, 4]

In [10]:
s = [1, 3, 4, 8, 13, 17, 20]
result = float('inf')
pair = [0, 0]

for index, value in enumerate(s):
    if index == len(s)-1: break
    if s[index+1] - s[index] < result:
        result = s[index+1] - s[index]
        pair[0] = s[index]
        pair[1] = s[index+1]

print(pair)

[3, 4]

In [8]:
list(zip(s, s[1:]))
sorted(zip(s, s[1:]), key=lambda x: x[1] - x[0])
sorted(zip(s, s[1:]), key=lambda x: x[1] - x[0])[0]

(3, 4)

# 1.4 기본 자료구조 및 알고리즘
1. 스택과 큐
2. 연결리스트
3. 트리와 그래프
    * 3.1 트리 구현
    * 3.2 트리의 순회
4. 정렬 알고리즘
    * 4.1 선택정렬
    * 4.2 삽입정렬
    * 4.3 병합정렬
    * 4.4 퀵정렬
5. 페이지 교체 알고리즘
6. 슬라이딩 윈도우와 투 포인터 알고리즘

## 1.4.1 스택과 큐

In [ ]:
# 스택 구현
# 리스트, 튜플, 딕셔너리, 셋
# 오른쪽에서 스택
l = [10, 20, 30, 40]
l.append(50)
l.pop()

In [ ]:
# 왼쪽에서 스택
l = [10, 20, 30, 40]
l.insert(0, 50)
l.pop(0)

In [ ]:
# 연결리스트를 사용하여 구현하는 것이 일반적이지만
# 연결리스트가 다음 챕터에 나오기 때문에 리스트로 구현하도록 하겠습니다.

# 연결리스트가 뒤에 배치된 것은 의도한 것입니다.
# 쉬운 접근 -> 어려운 접근으로 점진적 부하를 드리기 위함입니다.

# https://ko.wikipedia.org/wiki/%EC%8A%A4%ED%83%9D 이러한 모습에
# ADT를(Abstract Data Type, 추상자료형) 구현하면 되는 것입니다.
class Stack:
    def __init__(self):
        self.배열 = []

    def push(self, data):
        self.배열.append(data)

    def pop(self, index):
        if (index > len(self.배열) - 1):
            return self.배열.pop()
        result = self.배열.pop(2)
        return result

    def top(self):
        return self.배열[-1]

    def bottom(self):
        return self.배열[0]

    def empty(self):
        if not self.배열:
            return 1
        return 0

In [12]:
# 스택과 큐 문제
''' 입출력 설명
숫자로 된 리스트를 입력받습니다.
샌드위치의 순서는 항상 1, 2, 3, 4, 1을 지켜야 합니다.
재료는 순서를 바꿔 중간에서 빼내지 못합니다. 오로지 완성된 샌드위치만 입력 배열에서 빠질 수 있습니다.
리스트 내에서 샌드위치가 만들어질 수 있는 개수를 결괏값으로 출력합니다. '''

data = [1, 1, 1, 2, 3, 4, 1, 2, 3, 4, 1]
stack = []
count = 0

for i in data:
    stack.append(i)
    if stack[-5:] == [1, 2, 3, 4, 1]:
        for _ in range(5):
            stack.pop()
        count += 1

print(count)

2

## 1.4.2 연결리스트
* 연결리스트, 메모리 효율을 위해 사용되는 경우가 많음

In [14]:
12, 99, 37

연결리스트 = {
    'head': {
        'value': 12,
        'next': {
            'value': 99,
            'next': {
                'value': 37,
                'next': None
            }
        }
    }
}

연결리스트['head']['next']['next']['value']

37

In [15]:
node1 = {
    'value': 12,
    'next': None
}

node2 = {
    'value': 99,
    'next': None
}

node3 = {
    'value': 37,
    'next': None
}

node1['next'] = node2
node2['next'] = node3

node1['next']['next']['value']

37

In [18]:
class Node:
    def __init__(self, data):
        self.value = data
        self.next = None

node1 = Node(90)
node2 = Node(2)
node3 = Node(77)
node4 = Node(35)

node1.next = node2
node2.next = node3
node3.next = node4

node1.next.next.value

currentnode = node1
while currentnode:
    print(currentnode.value)
    currentnode = currentnode.next

90
2
77
35