<a href="https://colab.research.google.com/github/neysin/orm/blob/main/programmers_%EC%9E%85%EB%AC%B8_day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# 웃가게 할인 받기
# 10만원 이상 5%, 30만원 이상 10%, 50만원 이상 20% 할인
def solution(price):
    if 100000 <= price < 300000:
        return int(price - price * 0.05)
    elif 300000 <=price < 500000:
        return int(price - price * 0.1)
    elif price >= 500000:
        return int(price - price * 0.2)
    else:
        return int(price)

price = 580000
solution(price)

464000

아이스 아메리카노

In [12]:
# 아이스 아메리카노
# 한 잔에 5500
# 가진 돈으로 최대한 마실 수 있는 잔 수, 남은 돈 반환
def solution(money):
    price = 5500
    count = 0

    while money >= price:
        money -= price
        count += 1

    return [count, money]


money = 5500
solution(money)

[0, 1]

In [ ]:
# 몫과 나머지를 잘 사용해서 작성
def solution(money):

    answer = [money // 5500, money % 5500]
    return answer

In [14]:
# 나이 출력
# 2022 년 기준 출생년도 반환
def solution(age):
    return 2022 - age + 1

age = 40
solution(age)

1983

In [16]:
# 배열 뒤집기
def solution(num_list):
    return list(reversed(num_list))

num_list = [1, 2, 3, 4, 5]
solution(num_list)

[5, 4, 3, 2, 1]