<a href="https://colab.research.google.com/github/neysin/orm/blob/main/programmers_day23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 부분 문자열
def solution(str1, str2):
    if str1 in str2:
        return 1
    else:
        return 0

str1 = "abc"
str2 = "aabcc"
solution(str1, str2)

1

꼬리 문자열

In [6]:
# 꼬리 문자열
def solution(str_list, ex):
    l = []
    for i in str_list:
        if ex not in i:
            l.append(i)

    return ''.join(l)

str_list = ["abc", "def", "ghi"]
ex = "ef"
solution(str_list, ex)

'abcghi'

In [7]:
# 필터를 사용해서 조건함수를 기입해주고 결과값을 출력
def solution(str_list, ex):
    return ''.join(filter(lambda x: ex not in x, str_list))

In [9]:
# 정수 찾기
def solution(num_list, n):
    if n in num_list:
        return 1
    else:
        return 0

num_list = [1, 2, 3, 4, 5]
n = 3
solution(num_list, n)

1

In [11]:
# 주사위 게임1
def solution(a, b):
    if a % 2 != 0 and b % 2 != 0:
        return a**2 + b**2
    elif a % 2 != 0 or b % 2 != 0:
        return 2 * (a + b)
    else:
        return abs(a-b)

a = 3
b = 5
solution(a, b)

34

날씨 비교하기

In [16]:
# 날씨 비교하기
def solution(date1, date2):
    for i in range(3):
        if date1[i] < date2[i]:
            return 1
        elif date1[i] > date2[i]:
            return 0
    return 0

date1 = [2021, 12, 28]
date2 = [2021, 12, 29]
solution(date1, date2)

1

In [ ]:
# 리스트 간 부등호 사용 시 각 리스트의 요소를 각각 비교함. 인덱스 위치별로.
def solution(date1, date2):
    return int(date1 < date2)