<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0105_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기초상식

In [ ]:
# 회색 줄은 영문자 80자, 한글은 32자
# PEP8, PEP20
# 줄이 너무 길면 가독성이 떨어집니다.
# Python 잘 하시는 분 보면 모든지 한 줄로 할려고 하는 분 만나는데
# 이거 안좋은 습관입니다.

print('hello worldhello worldhello worldhello worldhello worldhello worldhello worldhello world')

# 해결책 1: 역슬러시 넣는 방법(저는 권고하지 않습니다!, 이스케이 문자랑 혼동될 수 있습니다.)
print('hello worldhello worldhello worldhello worldhello worldhello worldhello \
worldhello world')
print('hello world \n hello world')

# 해결책 2: 콤마를 찍지 않은 연결
print('hello world' 'hello world')
print('hello world'
      'hello world') # 80자 이상이 된다면 엔터로 문자열을 다음 줄로 넘겨서 이어간다.

In [19]:
# 메서드 체이닝을 3개 이상 늘리지 말자.(가독성이 나빠짐)
# 되긴 하지만 쓰지말

# 허용함
'hello world'.upper()\
    .split(' ')\
    .pop()\
    .lower()

# 허용함
'hello world'.upper()   .split(' ')   .pop()   .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
#     .split(' ')
#     .pop()
#     .lower()

# 허용하지 않음(\n)
# 'hello world'.upper()
# .split(' ')
# .pop()
# .lower()

'world'

In [11]:
dir('hello world') # 메서드, 매직메서드, (클래스 변수, 인스턴스 변수)
# 문제 1 : find와 index 차이
# 실무에서 사용하는 코드 :

if 'hello world'.find('hi') :
    print('찾았다!') # 이렇게 하면 찾지 못했는데 찾았다고 출력이 됨 (이렇게 코딩하면 안됨)

# 문제 2 isdigit의 정체
'123'.isdigit() # 전체가 숫자인지 판단. 실무에서 많이 사용.
'12h3'.isdigit()

# 문제 3 replace가 어디까지 변환하는지?
'hello world hello '.replace('hello','hi') # 몇개만 변환되는 것이 아님. 모두 다 변환이 됨.
# 알아두셔야 할 사항 : replace는 정규표현식이 안됩니다.
# replace를 정규표현식을 사용하고 싶으면 re.sub를 사용해야 함.

# 문제 4 strip(공백제거)
# 문제 5 zfill(앞에 0으로 채워주는 것, 원하는 자리 수 만큼, 시간이나 연도에서 많이 사용)

찾았다!

False

In [17]:
a = 10
b = a
c = b

print(c)

a = 10
b = a
c = b
a = 20
print(c)

a = 10
b = a
print(id(a))
print(id(b))

10
10
136313657845488
136313657846896

In [ ]:
# -5부터 256까지 주소값이 같다.
a = 10
b = 10

print(id(a))
print(id(b))

a is b

# 1. 리스트
* 변경이 가능한 자료형
* 순서가 있는 자료형(시퀀스형 자료형, 인덱싱, 슬라이싱)

In [12]:
l = [10, 20, 30]

# 라인 수가 길어졌을 때에는 이렇게 사용하는 것을 권유
# 권고 1
l = [10,
     20,
     30] # 됩니다!

# 권고2 (이렇게 실무에서 더 많이 사용합니다.)
ㅣ = [
    10,
    20,
    30,
]
# 문제가 있습니다! 통신을 할 때에는 JSON이라는 형식을 사용하게 되는데
# JSON은 마지막에 콤마를 허용하지 않습니다.

# 문제가 있는 2번이 더 많이 사용되는 이유?
# 실무에서는 콤마를 버전업으로 인식하는 경우도 많고,
# 콤마를 빼먹는 경우가 많습니다.
# 편의성 : Ctrl + C, Ctrl + V 하기가 편합니다.
# 자동 변환 SW를 사용합니다. (python black formatter) => 권고!!!

In [27]:
l = [10, 20, 30]
l[2]
print(type(l[1]))

<class 'int'>

In [ ]:
# str은 안됩니다.
s = 'hello world'
s[0] = 'y'

In [28]:
list(s)
print(type(s[1]))

<class 'str'>

In [29]:
s[0]= 1
print(str(s))

TypeError: 'str' object does not support item assignment

In [ ]:
l = [10, 20, 30, 40, 50]
l[-1]
l[-2:] # 마이너스 인덱싱, 마이너스 슬라이싱은 최종적으로 양수로 치환됩니다.
l[3:]
# 변수명 [stop]
# 변수명 [start:stop]
# 변수명 [start:stop:step]

In [ ]:
type(l), dir(l)
# type은 검색 키워드, GPT 질문 키워드가 될 수 있음
# dir은 대략적인 속성을 알 수 있습니다.

In [ ]:
# __add__가 있으니 더하기는 어디까지 될까? => 테ㅡ슽
# __mul__이 있으니 곱하기는 어디까지 될까? => 테스트

l = [10, 20, 30]
# l + 100 # 정수 더하기는 안됩니다.
l + [100]
l + [100,200]
l * 3 # 정수 곱하기는 됩니다
# l * [1, 2] # 리스트 곱하기는 안됩니다.

In [34]:
# 리스트 곱하기는 매우 주의해야 합니다.
# 곱하기가 2중으로 있을 때에는 나중에 배울 리스트컴프리헨션 사용해주세요

l = [[1, 2, 3] * 3] * 2
l[1][0] = 1000 # 복사된 리스트의 값은 주소가 같다.
l

[[1000, 2, 3, 1, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [36]:
l[1][0] = 10000
l

[[10000, 2, 3, 1, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3, 1, 2, 3]]

In [ ]:
# 암기해주세요
x = 10 # 스칼라
x = [10] # 벡터
x = [10, 20] # 벡터
x = [[10, 20], [10, 20]] # 매트릭스(행렬)
x = [[[10, 20], [10, 20]], [[10, 20], [10, 20]]] #  텐서(3차원 이상 행렬)

In [39]:
# 텐서플로? google에서 만든 딥러닝 라이브러리
# 인공지능 => 행렬의 연산

In [41]:
x = [[1, 2], [3, 4], [5, 6]]
x[1]
x[1][1]

4

In [43]:
x = [[1, 2], [3, 'hello world'], [5, 6]]
print(x[1])
print(x[1][1])
print(x[1][1][6:])

[3, 'hello world']
hello world
world

In [ ]:
x = 10

# 밑의 두 결과가 다르다는 것만 인지
print(x) # __str__
x  #__repr__

In [59]:
# python -> 자료형 -> list -> 메서드

l = [10, 20 ,30]
dir(l)

# shift + tab
# ctrl + [, ctrl + ]
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

'sort'

In [60]:
l.append(100)
l

[10, 20, 30, 100]

In [61]:
# 앞에다 넣는 방법 1
l = [1000] + l

# 앞에다 넣는 방법 2
x = 10000
l = [x] + l[:]

# 앞에다 넣는 방법 3
l.insert(0,999)
l

[999, 10000, 1000, 10, 20, 30, 100]

In [62]:
l = [10, 20 ,30 ,40]
l.pop() # 뒤에서 값을 꺼내는 방법
l

[10, 20, 30]

In [63]:
l = [10, 20 ,30 ,40]
l.pop(0) # 앞에서 값을 꺼내는 방법
l

[20, 30, 40]

In [66]:
l = [10,20,30,40]
l[:-1]
l[1:]

[20, 30, 40]

In [67]:
l = [10,20,30,40]
l.index(20)

1

In [68]:
# keep
# index가 에러가 납니다. error 없이 코드를 짜고 싶어요
# 슬라이싱을 사용합니다. => 슬라이싱은 index가 벗어나더라도 에러가 나지 않습니다.

l = [10, 20, 30, 40]
l[100:101]

[]

In [70]:
l = [10, 20, 30, 40]
l.clear()
l

[]

In [73]:
l = [10, 20, 30, 40]
ll = l.copy() # 얖은 복사와 깊은 복사가 있는데 이 개념은 뒤에 알려드립니다.
l[0] = 1000
ll
id(l),id(ll)
l is ll

False

In [74]:
l = [10, 20, 30, 40]
ll = l[:]
l[0] = 1000
l,ll

([1000, 20, 30, 40], [10, 20, 30, 40])

In [77]:
l = [10, 20, 30, 40]
ll = l
l[0] = 1000
print(id(l[0]),id(ll[0]))
print(l[0] is ll[0])
print(type(ll))

136313654517808 136313654517808
True
<class 'list'>

In [79]:
l = [10, 20, 30, 40]
l.extend([50, 60])
l

[10, 20, 30, 40, 50, 60]

In [80]:
l = [10, 20, 30, 40]
l.append([50, 60]) # 이것만 기억하셔도 좋습니다. 이렇게 많이 사용합니다.
l

[10, 20, 30, 40, [50, 60]]

In [81]:
l = [10, 20, 30, 40]
l.extend('hello')
l

[10, 20, 30, 40, 'h', 'e', 'l', 'l', 'o']

In [82]:
l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
l.remove(1) # 한가지 요소를 지울 때 사용
l

[1, 1, 1, 2, 2, 3, 3, 3]

In [ ]:
# 모든 요소를 지우고 싶을 때는 filter
# 한가지 요소를 지우고 싶을 때는 remove

In [ ]:
# 이해하지 않으셔도 됩니다.
# 여기서 catch해야할 포인트는 모든 요소를 filtering하고 싶을 때에는
# remove가 아니라 filter라는 것을 사용한다!
def f(x):
    return x != 1

l = [1, 1, 1, 1, 2, 2, 3, 3, 3]
list(filter(f, l))

In [83]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.reverse()
l # 역순으로 바뀌는 거지 역정렬은 아닙니다. # 원본이 변합니다. (입력된 원본은 대부분 보존하려고 노력)

[7, 6, 5, 9, 4, 3, 2, 1]

In [84]:
# reversed는 잊으셔도 됩니다. l.reverse만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
list(reversed(l)) # reversed는 원본을 변경하지 않습니다.

[7, 6, 5, 9, 4, 3, 2, 1]

In [85]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l # 원본을 바꾸는 정렬

[1, 2, 3, 4, 5, 6, 7, 9]

In [87]:
l = [1, 2, 3, 4, 9, 5, 6, 7]
l.sort()
l.reverse()
l # 원본을 바꾸는 역정렬

[9, 7, 6, 5, 4, 3, 2, 1]

In [88]:
# sorted는 잊으셔도 됩니다. l.sort만 기억하세요.
l = [1, 2, 3, 4, 9, 5, 6, 7]
sorted(l) # sorted는 원본을 변경하지 않습니다.

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
# sort, sorted, reverse, reversed 알고리즘 문제에서도 1개 문제는 거의 나온다고 보시면 됩니다.
# 옵션 값은 하지 않았습니다.
# 옵션 값을 하지 않는 이유 : 함수까지는 배우셔야 좀 더 고급 문법이 가능합니다.

# 튜플
* 순서가 있는 자료형입니다.(인덱싱, 슬라이싱)
* 참조 변경 불가입니다.(값이 변경이 불가하다고 얘기하면 이것은 틀린 얘기입니다.)

In [89]:
t = (10, 20, 30) # 소괄호

In [90]:
t[0]

10

In [91]:
t[1:]

(20, 30)

In [ ]:
t[0] = 1000

In [94]:
# 1 번째 왜 이런 자료형이 필요할까요?
# * 권한과 변경불가(시큐어 코딩), 형태 고정인 자료

# 2 번째 변경이 불가능한데 왜 ' 값이 변경이 불가하다고 얘기하면 이것은 틀린 얘기입니다. ' 라고 얘기하셨나요?
a = [10, 20 ,30]
b = (a, 100, 200)
b

([10, 20, 30], 100, 200)

In [95]:
a[0] = 1000 # 튜플 내의 참조값 변경은 가능하다
b

([1000, 20, 30], 100, 200)

In [96]:
t = (10, 20, 30)
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
t.count(10) # 10의 개수를 반환
t.index(10) # 10의 위치를 반환

In [97]:
tuple([10,20,30]) # tuple 형변환

(10, 20, 30)

In [ ]:
# tuple(순회가능한객체)
# list[순회가능한객체]

tuple('hello world')
list('hello world')

# 딕셔너리

* python 3.6 버전 이상은 순서가 보장됩니다.
* 실무에서 사용하는 python 버전은 생각보다 낮습니다. 이점 주의해주세요.
* 'key : value' 쌍으로 이뤄져 있습니다.
* 딕셔너리 데이터 검색은 매우 빠릅니다.
* 딕셔너리 사용은 주의를 요합니다. 딕셔너리는 key가 없는 것을 호출하면 error가 납니다.

In [98]:
d = {'one': '하나', 'two': '둘'}
d['one']

'하나'

In [ ]:
d['three'] # error

In [ ]:
d.get() # get 메서드를 사용하시길 권합니다.

In [99]:
d.get('three', '없는 값입니다!')

'없는 값입니다!'

In [110]:
def f(x):
    return {
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
    }.get(x, '요일없음')

f(3)

'수요일'

In [105]:
# match 문법이 나오기 전까지 많이 사용했었습니다.

x = 3
y =   {
            0: '일요일',
            1: '월요일',
            2: '화요일',
            3: '수요일',
            4: '목요일',
            5: '금요일',
            6: '토요일',
    }

y.get(x, '요일없음')

'수요일'

In [111]:
!python --version

Python 3.10.12

In [ ]:
# 실제로 이와 같은 key: value의 쌍을 게시물 저장하는 형태 등으로 사용합니다.

게시물1 = {
    'title': '파이썬이 이렇게 어려울 줄이야!!?',
    'contents': '파이썬을 깊게 알아갈 수록 너무 재미있네요!!! 신기합니다!!!',
    'author': '이호준',
    'image': '/hojun/2024/1/5/python.jpg',
}

In [ ]:
d = {'one': '하나', 'two': '둘'}

In [113]:
d = {'one': '하나', 'two': '둘'}
dd = d

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'html'

dd

{'one': 'python', 'two': 'html'}

In [114]:
d = {'one': '하나', 'two': '둘'}
dd = d.copy()

id(dd), id(d)
dd is d

d['one'] = 'python'
d['two'] = 'html'

dd

{'one': '하나', 'two': '둘'}

In [116]:
# 자주 사용하지 않습니다.

d = ('one', 'two', 'three')
dict.fromkeys(d)
dict.fromkeys(d, 'hello world')

{'one': 'hello world', 'two': 'hello world', 'three': 'hello world'}

In [118]:
# 매우 자주 사용하고 권고합니다.

d = {'one': '하나', 'two': '둘'}
print(d.get('one', '값 없음!'))
print(d.get('three', '값 없음!'))

하나
값 없음!

In [119]:
d = {'one': '하나', 'two': '둘'}
d.items()

dict_items([('one', '하나'), ('two', '둘')])

In [120]:
d = {'one': '하나', 'two': '둘'}
type(d.items())

dict_items

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.items()[0] # error
d.items()[1:] # error

In [122]:
a, b = d.items() # 언패킹
print(a)
print(b)

('one', '하나')
('two', '둘')

In [123]:
# keep만 해두세요. 반복문을 안배웠습니다.
for i, j in d.items():
    print(i, j)

one 하나
two 둘

In [125]:
d.keys()
d.values()

dict_values(['하나', '둘'])

In [132]:
d = {'one': '하나', 'two': '둘'}
print(d.setdefault('one'))
print(d.setdefault('three'))
print(d.setdefault('four',4)) # 있으면 그 값을 출력하고, 없으면 그 값을 d에 삽입하고 4를 출력해줌.

하나
None
4

In [135]:
d = {'one': '하나', 'two': '둘'}
d.pop('one')
d

{'two': '둘'}

In [ ]:
d = {'one': '하나', 'two': '둘'}
d.pop() # error
d.pop('three') # error
d

In [137]:
d = {'one': '하나', 'two': '둘'}
d.popitem() # 없는 코드를 많이 보게됨. 최신 코

('two', '둘')

In [139]:
d = {'one': '하나', 'two': '둘'}
d.update({'one': 'python', 'three': 'hello'}) # one은 수정이 되었고 three는 생성이 되었습니다.
d

{'one': 'python', 'two': '둘', 'three': 'hello'}

In [141]:
# 신규문법!!(3.9)

d = {'one': '하나', 'two': '둘'}
dd = {'three': '셋'}

# d + dd
d | dd

{'one': '하나', 'two': '둘', 'three': '셋'}

# 셋

* 중복을 허락하지 않는 자료형입니다.
* 순서가 없는 자료형입니다.
* 집합(합집합, 차집합, 교집합)

In [145]:
s = {1, 2, 3, 4, 5}
ss = {3, 4, 5, 6, 7}
# s + ss # error
# 밑의 기호들로만 사용해도 무관

print(s | ss) # 합집합
print(s - ss) # 차집합
print(s & ss) # 교집합

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{3, 4, 5}

In [ ]:
dir(s)

In [147]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [148]:
s.difference(ss) # 차집합

{1, 2, 10}

In [149]:
s.intersection(ss) # 교집합

{3, 4, 5}

In [150]:
s.union(ss) # 합집

{1, 2, 3, 4, 5, 6, 7, 10}

In [151]:
set('123123123123')

{'1', '2', '3'}

In [155]:
# map은 너무나 중요해서 반복해서 해드릴텐데
# 중복 제거한 값을 더하는 용도로 아래와 같이 사용하는 코드를
# keep

sum(map(int, set('123123123123')))

6

In [156]:
sum({10, 20, 30})

60

In [156]:
sum(10, 20 ,30) #error

In [ ]:
sum([[10, 20], [10, 20], [10, 20]]) # error

In [157]:
# sum(순회가능한객체, 초깃값)
sum([10, 20, 30], 100)

160

In [159]:
sum([[10, 20], [30, 40], [50, 60]],[])
# [] + [10, 20] == [10, 20]
# [10, 20] + [30, 40] == [10, 20, 30, 40]

[10, 20, 30, 40, 50, 60]

In [162]:
print(sum(sum([[10, 20], [30, 40], [50, 60]],[])))
print(sum([10, 20, 30, 40, 50, 60]))

210
210

# in

In [164]:
'h' in 'hello'

True

In [165]:
x = 10
x in [10, 20, 30, 40, 50] # in은 값만 비교, is 와는 다름, 주소를 비교하는 것이 아님

True

In [166]:
s = {1, 2, 3}
1 in s

True

In [167]:
s = {1, 2, 3}
1 not in s

False

# and, or, not 단락평가