<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0111_class_%EB%B0%8F_%EC%97%AC%EB%9F%AC%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 함수의 이름은 변수다.

In [1]:
def hello():
    '''
    주석은 여기 답니다.
    '''
    pass

In [2]:
print(type(hello))

<class 'function'>

In [ ]:
a = 10
# a는 무엇이죠?
# a는 int에 인스턴스

In [ ]:
print('hello world') # built - in fucntion

In [6]:
l = [print, print, print]
l[2]('hello world')

hello world

In [7]:
hojun = print
hojun('hello wolrd')

hello wolrd

In [8]:
id(hojun), id(print)

(140395636086064, 140395636086064)

In [9]:
print = hojun

In [10]:
id(print)

140395636086064

# 2. lambda 응용

## Top 3 - 1. map 에서의 사용

In [11]:
add = lambda x, y: x + y

In [ ]:
# 코드가 이해가 안된다 => 이해할려고 노력하는 것 보다는
# 예제를 30개 정도 만들어 보시는 것을 추천합니다.

In [ ]:
# lambda + 3항 연산자 많이 사용합니다.
x = 10
y = True if x % 2 == 0 else False

In [12]:
# 재사용 할 것이면 이렇게 함수로
def 제곱(x):
    return x ** 2

list(map(제곱, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# 재사용 하지 않을 것이면 이렇게 lambda로!
# lambda가 실무에서 좀 더 많이 사용됩니다.
# 수식이 복잡해지면 재사용과 별개로 lambda로 했을 경우 가독성이 떨어지는 경우도 발생합니다.
# 이럴 때에는 함수로 빼기도 합니다.

list(map(lambda x: x ** 2, [1, 2, 3, 4]))

In [13]:
list(map(lambda x: True if x % 2 == 0 else False, [1, 2, 3, 4])) # 마스킹, 필터링

[False, True, False, True]

In [ ]:
# 알고리즘 문제에서
# 얼마나 효율적인지만 봐주시고, 이해 못해도 괜찮습니다.
# [True, False, False, False, True]
# 에라토스테네스의 체(얼마나 마스킹이 유용한지 알 수 있다.)
[True,  True,   True,   True,   True,   True,   True,   True,   True,   True]
[0,     1,      2,      3,      4,      5,      6,      7,      8,      9]

In [ ]:
[False,  False,   True,   True,   True,   True,   True,   True,   True,   True]
[0,      1,       2,      3,      4,      5,      6,      7,      8,      9]

In [ ]:
# 2가 소수가 되면 2의 배수들은 소수가 아닙니다. => 2의 배수들은 모두 False
[False,  False,   True,   True,   False,   True,   False,   True,   False,   True]
[0,      1,       2,      3,      4,       5,      6,       7,      8,       9]

In [ ]:
# 30이 소수이냐?
# 이해하지 않으셔도 됩니다.
# 지금은 얼마나 마스킹한 값이 효율적인지를 말씀드리기 위한 코드일 뿐입니다.

for i in range(2, 31):
    if 101 % i == 0:
        print('소수아님!')
        break
else: # else 대신 then으로 하자라는 논의가 활발했습니다. -> 그러나 else 승
    print('소수임')

# top3 - 2. filter에서 사용!

In [ ]:
#filter는 True인것만 출력합니다.
list(filter(lambda x : x % 2 == 0, range(100)))

In [ ]:
list(filter(lambda x : x % 3 == 0, range(100)))

In [ ]:
list(filter(lambda x : x > 50, range(100)))

In [ ]:
list(filter(lambda x : x > 50 and x < 80, range(100)))

In [ ]:
list(filter(lambda x : True if x % 3 == 0 or x % 5 == 0 else False, range(100)))

In [ ]:
# list(filter(lambda x : x % 2 == 0, range(100)))

# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# x == 0일 때 => lambda x: x % 2 => 0 => False로 평가
# x == 1일 때 => lambda x: x % 2 => 1 => True로 평가
# x == 2일 때 => lambda x: x % 2 => 0 => False로 평가
# x == 3일 때 => lambda x: x % 2 => 1 => True로 평가
# x == 4일 때 => lambda x: x % 2 => 0 => False로 평가
# x == 5일 때 => lambda x: x % 2 => 1 => True로 평가
# x == 6일 때 => lambda x: x % 2 => 0 => False로 평가

list(filter(lambda x : x % 2, range(100)))

# Top 3 - 3. sorted에서 사용!

In [21]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
l.sort() # sort를 자주 사용하진 않습니다. 원본을 변경시키기 때문입니다.
l

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [23]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
sorted(l) # sorted의 return값이 정렬된 값이죠!
l # l은 그대로입니다! 그래서 많이 사용합니다.

[10, 20, 5, 4, 22, 32, 5, 9, 11]

In [ ]:
sorted() # key, reverse 옵션을 정말 정말 많이 사용합니다!
# 알고리즘 문제에서 단골 문제이고, sorted 문제는 1문제는 거의 출제된다고 보시면 됩니다.
# 최댓값, 최솟값

In [ ]:
반별점수 = [
    ['이름', '국어', '영어', '수학']
    ['이름', '국어', '영어', '수학']
    ['이름', '국어', '영어', '수학']
    ['이름', '국어', '영어', '수학']
]

In [26]:
반별점수 = [
    ['홍길동', 30, 55, 22],
    ['홍춘향', 55, 60, 73],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]

In [27]:
sorted(반별점수) # 값이나 0번째 값 기준으로 정렬합니다.

[['이철수', 32, 65, 68],
 ['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73]]

In [28]:
def 함수(x):
    return x[3]

sorted(반별점수, key = 함수) # 가장 중요한 것은 이 key 함수의 return 값대로 정렬한다는 것입니다.
# 출력값을 보면 첫 번째 순서부터 22, 68, 73, 95 순으로 리스트의 [3]의 값대로 정렬되어 있다.

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [29]:
sorted(반별점수, key = lambda x: x[2]) # 영어점수를 기준으로 정렬

[['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68]]

In [32]:
sorted(반별점수, key = lambda x: x[1]+x[2]+x[3]) # 평균 점수대로 정렬

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [36]:
# 동점자인 경우 수학점수를 우선순위로 두겠습니다.

반별점수 = [
    ['홍길동', 50, 50, 50],
    ['홍춘향', 45, 50, 55],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]

'''
step 1
sorted(반별점수, key = lambda x: x[1]+x[2]+x[3], reverse = True)
반별점수 = [
    ['홍길동', 50, 50, 50],
    ['홍춘향', 45, 50, 55],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]

step 2
sorted(반별점수, key = lambda x: (x[1]+x[2]+x[3], x[3]), reverse = True)
반별점수 = [
    ['홍길동', 50, 50, 50],
    ['홍춘향', 45, 50, 55],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]
'''

# 평균이 같고 수학점수를 우선순위로 정렬할 경우
sorted(반별점수, key = lambda x: (x[1]+ x[2]+ x[3], x[3]), reverse = True)

# 만약 평균도 같고 수학점수도 같아 이름순으로 정렬할 경우
sorted(반별점수, key = lambda x: (x[1]+ x[2]+ x[3], x[3], x[0]), reverse = True)

# 정렬 조건이 추가될 경우 튜플로 감싸고 조건을 하나씩 추가해서 써나가면 됨

[['이호준', 92, 11, 95],
 ['이철수', 32, 65, 68],
 ['홍춘향', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [41]:
우편번호 = [
    {
        '주소' : '경기도 용인시',
        '우편번호' :321
    },
    {
        '주소' : '경기도 수원시',
        '우편번호' :355
    },
    {
        '주소' : '제주특별자치도 제주시',
        '우편번호' :333
    }
]
# sorted(우편번호) # error, 비교를 할 수 없다?
sorted(우편번호, key = lambda x: x['우편번호'])

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [42]:
# 다음 입사문제
# 직선에 있는 점의 좌표입니다.
# 점과 점 사이가 가장 짧은 점의 쌍을 출력하세요

# 입력값 : s =[1, 3, 4, 8, 13, 17, 20]
# 출력값 : (3, 4)

s =[1, 3, 4, 8, 13, 17, 20]
s[1:]

[3, 4, 8, 13, 17, 20]

In [58]:
x = list(zip(s, s[1:]))
x

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [56]:
x = list(zip(s, s[1:]))
sorted(x, key = lambda x: x[1] - x[0])

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [45]:
# 이해를 하시진 마시고, 이해가 되시는 분들만 이해해주세요
# 제가 자주 사용하는 코드입니다.
# 복습 X

list(zip('hello', 'wolrd'))

[('h', 'w'), ('e', 'o'), ('l', 'l'), ('l', 'r'), ('o', 'd')]

In [48]:
# 제너레이터를 만듭니다.
# 문법이 너무 어려워서 보여주기만 하는 코드
# 복습 X
def gen():
    i = 1
    while True:
        yield i
        i += 1

list(zip(gen(),'hello', 'wolrd'))

[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'l'), (4, 'l', 'r'), (5, 'o', 'd')]

In [46]:
# 이건 제가 자주 사용하는 코드 X
# 복습 X
list(enumerate(zip('hello', 'wolrd')))

[(0, ('h', 'w')),
 (1, ('e', 'o')),
 (2, ('l', 'l')),
 (3, ('l', 'r')),
 (4, ('o', 'd'))]

# built-in-function 에서 하지 않은 것들

In [ ]:
# 빌트인 함수 중요 순서 (위에서 아래로)
'''
map
filter
format
zip
len
'''

In [59]:
sum([1,2,3],1)

7

In [64]:
sum([[1,2,3],[1,2,3]],[])

[1, 2, 3, 1, 2, 3]

In [ ]:
# 어디까지 이해하고 어디까지 암기해야할까?
# 책 => 이런 내용이 안나옵니다. 실무에서 빈도가 많은지에 대해 나오지 않습니다.
# 암기해야 할 것을 암기하고, 버릴 것은 버리면서 부지런히 가시면
# 충분히 4 ~ 5개월 안에 여러분이 원하시는 수준으로 올라갈 수 있습니다

In [65]:
# 다른 값이 출력될 수 도 있다는 것을 기억해야 합니다.
a = 10
print(a) # a.__str__
a # a.__repr__
repr(a) # a.__reqr__

10

'10'

In [67]:
class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title= title
        self.contents = contents

    def __str__(self):
        '''
        print를 사용시 객체가 str 메서드를 가지고 있으면 이 메서드를 호출하여 문자열을 얻음.
        '''
        return self.title

    def __repr__(self):
        '''
        repr이라는 값은 제가 임의로 만든 값이 아닙니다!
        정해져 있는 이름입니다.
        객체가 repr 메서드를 가지고 있을 시 이 메서드를 호출하여 표현할 문자열을 얻음.
        '''
        return f'{self.title}, {self.contents}'

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!', '내가 알던 파이썬이 아니야...')
게시물2 = Notice('Django는 이렇게 재미있을 줄 몰랐다!', '파이썬을 잘 못해서 내가 할 수 있을까 생각이 들었는데...')

In [69]:
print(게시물1) # print를 사용했으므로 __str__ 메서드 호출
게시물1 # 객체를 호출했을 때 __repr__ 메서드가 있으므로 호출

파이썬 이렇게 어려운줄 몰랐다!

파이썬 이렇게 어려운줄 몰랐다!, 내가 알던 파이썬이 아니야...

In [ ]:
# 현업에서 3.6 이상을 사용하면 참 다행입니다
# 예를 들어서 서비스를 만든지 조금 오래된 'Y기업'같은 경우
# Django를 2.x , 1.x
# 실무에 가셨을 때 2.x 어느정도는 알고 있으셔야 합니다.
# match 같은 문법은 아직 사용하지 못합니다. 2 ~ 3 년 뒤에는 사용가능 할 겁니다.

In [70]:
type(range(10)) # range 라는 타입입니다.

range

In [ ]:
# 2.x
# range(10) => [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# type(range(10)) => <type 'list'>

# 문제 : range(100000000) => 메모리를 100000000 갯수만큼 한 번에 생성을 해야 합니다.
# 이것을 개선하자는 얘기가 끊임없이 나왔습니다.
# 2.x에서 나온 것이 xrange()입니다. 이것은 특이하게 현재값과 다음값만을 가지고 있어요.
# 메모리 공간은 2칸(실제로는 더 잡아먹습니다.)이 되서 효율적이게 바뀐것입니다.


# 3.x에서 range(100000000)
# class range로 바뀌게 된 것입니다.
# for i in range(1000): # 1000개의 메모리를 할당하는 것이 아닙니다.

In [ ]:
list(range(1000)) # 메모리 큰 부하를 줍니다!!

In [71]:
sum(range(1000))

499500

In [72]:
sum(list(range(1000))) # 메모리가 1000개 할당되었다가 더해야 하니 비효율적인 코드입니다.

499500

In [ ]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1))) # 시작값 넣는 것 많이 사용합니다. 기억해두세요.

In [74]:
reversed([1, 2, 3, 4, 5])

In [75]:
list(reversed([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [73]:
sorted([1, 2, 3, 4, 5])
# 왜 sorted만 자료형으로 주나요?
# reversed나 map, filter나 이런건 모두 메모리 주소를 가리키는데!?
# 정답 : (추후에 심화과정에서 강의합니다.) 메모리의 효율성 때문입니다.

[1, 2, 3, 4, 5]

# match

* 3.10 버전에서 나온 문법이기 때문에 현업에서 거의 사용 못합니다.
* 예를 들어 속도가 매우 빨라야 하는 프로젝트를 여러분이 하게 되었습니다. 그렇다면 prthon 최신 버전을 사용할텐데, 그러면 match 문법을 사용할 수는 있습니다. 다만 권고하지는 않습니다. match 문법이 동료들이 익숙하지 않기 때문입니다.
* 2024년에는 중요도가 별표 0.5개 정도 되고
* 2 ~ 3년 후에는 중요도가 3 ~ 4개 정도로 올라갈 것으로 보입니다.

In [ ]:
# 제가 반대하는 이유
# 타 언어에 비해서 불편한 점
요일 = 3
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')

In [ ]:
# 요일 = 4
# match 요일:
#     case 0:
#         print('일요일')
#     case 1:
#         print('월요일')
#     case 2:
#         print('화요일')
#     case 3: # 다른 언어에서는 이 문법이 가용합니다.
#     case 4:
#         print('목요일')
#     case 5:
#         print('금요일')
#     case 6:
#         print('토요일')
# 출력: error

In [77]:
요일 = 100
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')
    case _:
        print('요일없음!')

요일없음!

In [78]:
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

1, 2

In [82]:
# 여러분들은 오히려 이런 코드보다 아래 코드를 더 많이 만나게 되실겁니다.
def 요일반환(요일):
    return {
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일'
    }.get(요일, '요일없음')
print(요일반환(2))
print(요일반환(100))

화요일
요일없음

# class

* class 이론을 여러권 + ChatGPT + 유튜브를 보시는 것 보다는
* 여러개를 만들어보세요. ChatGPT에게 여러개의 클래스를 추천받고, ChatGPT에게 짜달라고 해서 그것을 타이핑 해보는 것도 많은 도움이 될겁니다.
* 결론: 많은 것을 만들어 보셔야 합니다.

* class 클래스이름 => 인스턴스
* class Post => 게시물1, 게시물2, 게시물3...
* class Dot => 점1, 점2, 점3...
* class Matrix => 행렬1, 행렬2, 행렬3...
* class User => 유저1, 유저2, 유저3...
* class Cart(장바구니) => Cart1, Cart2, Cart3
* class Comment(댓글) => 댓글1, 댓글2, 댓글3
* class Character => Licat(주인공), Lion(빌런), Mob(몬스터)
* class Product => 상품1, 상품2, 상품3
* class Class_ => 강의1, 강의2, 강의3
* class Teacher => 강사1, 강사2, 강사3

In [83]:
# 0번: 기초상식
# 0.0 __init__ 매직메서드는 없어도 되나요?
class 우편번호:
    제주도 = 100
    경기도 = 101
    전라북도 = 102
    전라남도 = 103

우편번호.제주도
# 왜 이걸 딕셔너리로 만들지 않고 class로 만들었나요?
# 재사용성 + 확장성

# 0.1 클래스 꼭 사용해야 하나요?
# 일부 자료형에서는 클래스는 꼭 사용해야 합니다.

# 아래와 같이 저장한다고 해서 문제가 생기는가?
# 데이터의 양, 확장성, 다양성
# 기본 클래스(list, tuple, dict(속도 개선이 많이 되었음에요), set)는 속도가 많이 느리다.

# 제목 : python 기초
# 저자 : 이호준
{'제목': 'python 기초', '저자': '이호준'}

# 제목: html 기초
# 저자: 한재현
{'제목': 'html 기초', '저자': '한재현'}

[{'제목': 'python 기초', '저자': '이호준'}, {'제목': 'html 기초', '저자': '한재현'}]

100

## Post

In [88]:
# 1 번
# 클래스를 설계하실 때
# 첫 번째로 - 모든 인스턴스에서 공유해야할 변수(클래스 변수)나 메서드 설정
# 두 번째로 - 인스턴스 고유의 영역
# in_create_at(스네이크 표기법) - 파이썬
# inCreatedAt(카멜 표기법) - 파이썬에서는 잘 사용하지 않습니다.(JavaScript에서는 많이 사용합니다.)
# InCreatedAt(파스칼 표기법) - 파이썬 클래스
class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_create_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_create_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __add__(self, next):
        return self.title + next.title

    def __len__(self):
        pass

    def __str__(self):
        return self.title

    def __repr__(self):
        return self.title

    def update(self, in_contents):
        '''
        in_ 은 실무에서 사용하는 접두사가 아닙니다!
        여러분에 이해를 돕기 위한 변수명입니다.
        '''
        self.contents = in_contents
        return '게시물 수정에 성공했습니다! 200'

    def delete(self):
        pass

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준')

게시물2 = Post('2', '22', 0, '2024-01-11', '2024-01-11', '이호준')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2) # + 연산이 나오면 앞(게시물1)의 __add__가 실행됩니다.
게시물1.update('hello wolrd')
게시물1.contents

파이썬은 참 깊군요!
파이썬은 참 깊군요!
파이썬은 참 깊군요!2

'hello wolrd'

## Dot

In [89]:
class Dot:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return (self.x + next.x, self.y + next.y)

    def __mul__(self, next):
        return (self.x * next.x, self.y * next.y)

    def distance(self, next):
        dx = self.x - next.x
        dy = self.y - next.y
        return (dx**2 + dy**2) **0.5 # root은 ** 0.5로 많이 사용합니다.

dot1 = Dot(20, 10)
dot2 = Dot(30, 5)

dot1 + dot2
dot1 * dot2
dot1.distance(dot2)

11.180339887498949

# Character

In [90]:
class Character:
    def __init__(self, name, skill, hp, mp, power, x):
        self.name = name
        self.skill = skill
        self.hp = hp
        self.mp = mp
        self.power = power
        self.x = x

    def move(self):
        self.x += 100

    def attact(self, next):
        next.hp -= self.power


주인공1 = Character('licat', '질풍검', 100, 100, 10, 10)
몹1 = Character('licat', '질풍검', 100, 100, 10, 10)

주인공1.attact(몹1)
몹1.hp

90