<a href="https://colab.research.google.com/github/neysin/orm/blob/main/0122_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# 데이터프레임 생성
data = {
    '이름': ['홍길동', '임꺽정', '이순신'],
    '나이': [30, 35, 40],
    '도시': ['서울', '부산', '광주']
}
df = pd.DataFrame(data)
print(df)

    이름  나이  도시
0  홍길동  30  서울
1  임꺽정  35  부산
2  이순신  40  광주

In [7]:
import pandas as pd

# 시리즈 생성
names = pd.Series(['홍길동', '임꺽정', '이순신'])

print(names)
type(names)

0    홍길동
1    임꺽정
2    이순신
dtype: object

pandas.core.series.Series

In [ ]:
pd.read_csv('/content/sample_data/california_housing_test.csv')

In [15]:
# 요구정의서 / 컬럼에 대한 히스토리!
test = pd.read_csv('/content/sample_data/california_housing_test.csv')
print(test.head()) # 처음부터 5개
print(test.tail()) # 끝에서부터 5개

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0
      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

In [14]:
# DataFrame의 요약 정보 출력
print(test.info())

# Null
# Null 값이 존재하면 오류

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB
None

In [16]:
# DataFrame의 통계적 요약 정보 출력
# 1. Min / Max -> 99999999 / -99999999999 / 이상한 문자로 된 값 *********
# 2. Mean -> 평균이 우리가 아는 수치와 비슷한지
# 3. 25% 50% 70% -> 데이터가 편중되어 있는지 아니면 잘 분포되어 있는지 -> 표준편차
# 3번 ex) 1 1 1 1 1 1 1 1 1 1 1 2 3 4 5
print(test.describe())

         longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000

# 데이터 시리즈와 프레임

In [17]:
# Pandas DataFrame 예시
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'Berlin']
})

# 각 속성 호출
print("Shape:", df.shape)
print("Data Types:\n", df.dtypes)
print("Index:", df.index)
print("Columns:", df.columns)

Shape: (3, 3)
Data Types:
 Name    object
Age      int64
City    object
dtype: object
Index: RangeIndex(start=0, stop=3, step=1)
Columns: Index(['Name', 'Age', 'City'], dtype='object')

In [18]:
# 실습!
test = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [24]:
print("Shape of DataFrame:", test.shape)

Shape of DataFrame: (3000, 9)

In [25]:
print("Data Types:\n", test.dtypes)

Data Types:
 longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [26]:
print("Index:", test.index)

Index: RangeIndex(start=0, stop=3000, step=1)

In [23]:
print("Columns:", test.columns)

Columns: Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [28]:
import pandas as pd

# 예시 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob'],  # 문자열 타입
    'Age': ['25', '30'],       # 숫자 데이터를 문자열로 표현
    'Member': ['True', 'False'],  # 불린 데이터를 문자열로 표현
    'Join Date': ['2021-01-01', '2021-07-01']  # 날짜 데이터를 문자열로 표현
}

# DB -> 문자열 -> 메모리 / 저장용량 효율적

df = pd.DataFrame(data)

# 결과 출력
print(df)
print(df.dtypes)

    Name Age Member   Join Date
0  Alice  25   True  2021-01-01
1    Bob  30  False  2021-07-01
Name         object
Age          object
Member       object
Join Date    object
dtype: object

In [29]:
df['Age'] = df['Age'].astype(int) # 'Age' 열을 정수형으로 변환
print(df.dtypes)

Name         object
Age           int64
Member       object
Join Date    object
dtype: object

In [30]:
df['Member'] = df['Member'].astype(bool)  # 'Member' 열을 불린형으로 변환
print(df.dtypes)

Name         object
Age           int64
Member         bool
Join Date    object
dtype: object

In [31]:
df['Join Date'] = pd.to_datetime(df['Join Date']) # 'Join Date' 열을 datetime으로 변환
print(df.dtypes)

Name                 object
Age                   int64
Member                 bool
Join Date    datetime64[ns]
dtype: object

In [34]:
df_joindate = df['Join Date']
df_joindate.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2 entries, 0 to 1
Series name: Join Date
Non-Null Count  Dtype
--------------  -----
2 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0 bytes

In [38]:
df_joindate_age = df[['Join Date', 'Age']]
df_joindate_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Join Date  2 non-null      datetime64[ns]
 1   Age        2 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 160.0 bytes

In [44]:
import pandas as pd
import numpy as np

# 예시 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'Berlin']
}
df = pd.DataFrame(data)

# 단일 열 선택 -> 결과는 Series
age_series = df['Age']
print(type(age_series))

# 다중 열 선택 -> 결과는 DataFrame
subset_df = df[['Name', 'City']]
print(type(subset_df))

# loc 사용 예시
print(df.loc[:, 'Age'])

# iloc 사용 예시
print(df.iloc[:, 1])

# 결측치 추가
df.loc[1, 'Age'] = np.nan

# 결측치 확인
print(df['Age'].isnull())

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
0    25
1    30
2    35
Name: Age, dtype: int64
0    25
1    30
2    35
Name: Age, dtype: int64
0    False
1     True
2    False
Name: Age, dtype: bool

In [45]:
import pandas as pd

# 예제 데이터프레임 생성
data = {'A': [1, 2, None, 4],
        'B': [5, None, 7, 8],
        'C': [9, 10, 11, 12]}
df = pd.DataFrame(data)

# isnull() 또는 isna() 함수를 사용하여 결측치 확인
missing_values = df.isnull()  # 또는 df.isna()

# 결과 출력
print(missing_values)

       A      B      C
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False  False

# 시리즈 메서드

In [46]:
import pandas as pd

# Series 생성
data = pd.Series([10, 20, 20, 30, 40])

# sum(), mean(), value_counts() 사용 예시
print("Sum:", data.sum())           # 합계
print("Mean:", data.mean())         # 평균
print("Value Counts:\n", data.value_counts())  # 빈도 계산

Sum: 120
Mean: 24.0
Value Counts:
 20    2
10    1
30    1
40    1
dtype: int64

In [47]:
import pandas as pd

# Series 생성
data = pd.Series([10, 15, 20, 25, 30])

# 다양한 메서드 활용
print("Minimum:", data.min())          # 최소값
print("Maximum:", data.max())          # 최대값
print("Standard Deviation:", data.std())  # 표준편차
print("Variance:", data.var())          # 분산
print("Number of Unique Values:", data.nunique())  # 고유값 개수

# 데이터프레임 요약
df = pd.DataFrame({
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 55000, 60000, 65000, 70000]
})
print("\nDataFrame Summary:\n", df.describe())
print("\nDataFrame Info:")
df.info()

Minimum: 10
Maximum: 30
Standard Deviation: 7.905694150420948
Variance: 62.5
Number of Unique Values: 5

DataFrame Summary:
              Age       Salary
count   5.000000      5.00000
mean   35.000000  60000.00000
std     7.905694   7905.69415
min    25.000000  50000.00000
25%    30.000000  55000.00000
50%    35.000000  60000.00000
75%    40.000000  65000.00000
max    45.000000  70000.00000

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     5 non-null      int64
 1   Salary  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [ ]:
# 실습!
test = pd.read_csv('/content/sample_data/california_housing_test.csv')
test

In [54]:
# 데이터프레임의 'housing_median_age' 열을 Series로 변환하고 숫자형으로 변환
test_series = test['housing_median_age']
test_series.head()

0    27.0
1    43.0
2    27.0
3    28.0
4    19.0
Name: housing_median_age, dtype: float64

In [53]:
test_series_one = test_series + 1 # 더하기 1
print(test_series_one.head())

0    28.0
1    44.0
2    28.0
3    29.0
4    20.0
Name: housing_median_age, dtype: float64

In [55]:
test_series_two = test_series * 2 # 곱하기 2
print(test_series_two.head())

0    54.0
1    86.0
2    54.0
3    56.0
4    38.0
Name: housing_median_age, dtype: float64

In [57]:
high_test_series = test_series > 20 # 20보다 큰 수 찾기
print(high_test_series.head())

0     True
1     True
2     True
3     True
4    False
Name: housing_median_age, dtype: bool

In [59]:
filtered_test_series = test_series[high_test_series]# 조건을 만족하는 요소만 필터링
print(filtered_test_series.head())

0    27.0
1    43.0
2    27.0
3    28.0
5    37.0
Name: housing_median_age, dtype: float64

In [60]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# 열 이름 변경
# columns({변경하기전: 변경한 후, 변경하기전: 변경한 후})
df = df.rename(columns={'A': 'X', 'B': 'Y', 'C': 'Z'})
print(df)

   X  Y  Z
0  1  4  7
1  2  5  8
2  3  6  9

In [61]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# 모든 열 이름 변경
df.columns = ['X', 'Y', 'Z']
print(df)

   X  Y  Z
0  1  4  7
1  2  5  8
2  3  6  9

# 열의 생성과 삭제

In [62]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
})

In [63]:
# 이건 많이 사용하지 않음
# concat / join -> 데이터 결합

# 'Salary'라는 새 열 추가
df['Salary'] = [50000, 60000, 70000] # 다른 데이터 프레임에서 가져오는 경우!
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [64]:
# drop(중요)
# Data 컬럼 천개! ->
# 1. ram 효율을 증대하기 위해서 import할때만 전체 -> 작업 필요한 변수!
# 2. 머신러닝 / 딥러닝 ! -> 분석에 필요한 변수만 가져올 때!

# 'Age' 열 삭제
df = df.drop('Age', axis=1) # axis=1 열/컬럼을 의미 (주의)
print(df)

      Name  Salary
0    Alice   50000
1      Bob   60000
2  Charlie   70000

# 결합

In [66]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

In [67]:
print(df1)

   A  B
0  1  3
1  2  4

In [68]:
print(df2)

   A  B
0  5  7
1  6  8

In [75]:
# 가로로 연결 (열 방향)
# 주의할 점 - df1과 df2가 동일한 행을 가지고 있을 때!

result = pd.concat([df1, df2], axis=1)

print(result)

   A  B  X  Y
0  1  3  5  7
1  2  4  6  8

In [89]:
import pandas as pd

# Sample DataFrames with different column names
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'X': [5, 6], 'Y': [7, 8]})

# 가로로 연결 (열 방향) - 열 이름 다름
result = pd.concat([df1, df2], axis=1, ignore_index=True)

print(result)

   0  1  2  3
0  1  3  5  7
1  2  4  6  8

In [78]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# 세로로 연결 (행 방향)
result = pd.concat([df1, df2])

print(result)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

In [87]:
import pandas as pd

# Sample DataFrames with different index
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=[0, 1])
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]}, index=[2, 3])

# 세로로 연결 (행 방향) - 인덱스 다름
result = pd.concat([df1, df2], ignore_index=True)

print(result)

   A  B
0  1  3
1  2  4
2  5  7
3  6  8

# EDA 실습

In [93]:
import pandas as pd

dataset = pd.read_csv('/content/sample_data/The-Big-List-20231127-Reviews-to-4650.csv', encoding='latin1')

In [94]:
dataset.describe()

          Review #    T
count  4650.000000  0.0
mean   2325.500000  NaN
std    1342.483706  NaN
min       1.000000  NaN
25%    1163.250000  NaN
50%    2325.500000  NaN
75%    3487.750000  NaN
max    4650.000000  NaN

In [95]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4650 entries, 0 to 4649
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  4650 non-null   int64
 1   Brand     4650 non-null   object
 2   Variety   4650 non-null   object
 3   Style     4650 non-null   object
 4   Country   4650 non-null   object
 5   Stars     4648 non-null   object
 6   T         0 non-null      float64
dtypes: float64(1), int64(1), object(5)
memory usage: 254.4+ KB

In [96]:
dataset.head()

,Review #,Brand,Variety,Style,Country,Stars,T
0,4650,Jasmine,XXL Bihun Segera Penang White Curry,Pack,Malaysia,5,NaN
1,4649,Indomie,Mi Instan Mi Keriting Goreng Spesial,Pack,Indonesia,5,NaN
2,4648,MAMA,Oriental Kitchen Dried Instant Noodles Truffle...,Pack,Thailand,4.5,NaN
3,4647,Ottogi,Jin Jjajang Smoked Black Bean Flavor,Pack,United States,4.5,NaN
4,4646,Samyang Foods,Samyand Ramen,Pack,United States,5,NaN

In [97]:
# 고유값 확인
# 총 데이터셋 4650, 7개의 칼럼
dataset.nunique()

Review #    4650
Brand        698
Variety     4325
Style         10
Country       54
Stars         53
T              0
dtype: int64

In [99]:
dataset['Brand'].value_counts()

Nissin             567
Maruchan           182
Myojo              152
Nongshim           136
Samyang Foods      122
                  ...
Kiseki Foods         1
Xiuhe                1
Dr. McDougall's      1
Hi-Lai Foods         1
Westbrae             1
Name: Brand, Length: 698, dtype: int64

In [100]:
#결측치 확인
dataset.isnull().sum()

Review #       0
Brand          0
Variety        0
Style          0
Country        0
Stars          2
T           4650
dtype: int64

In [ ]:
# 'T' 칼럼 제거
dataset = dataset.drop('T', axis=1)

In [107]:
# 'Stars' 칼럼의 결측치 제거
dataset = dataset[dataset['Stars'].notna()]

In [109]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4648 entries, 0 to 4649
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  4648 non-null   int64
 1   Brand     4648 non-null   object
 2   Variety   4648 non-null   object
 3   Style     4648 non-null   object
 4   Country   4648 non-null   object
 5   Stars     4648 non-null   object
dtypes: int64(1), object(5)
memory usage: 254.2+ KB