<a href="https://colab.research.google.com/github/neysin/orm/blob/main/programmers_%EC%9E%85%EB%AC%B8_day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 배열 자르기
def solution(numbers, num1, num2):
    return numbers[num1:num2+1]

numbers = [1, 2, 3, 4, 5]
num1 = 1
num2 = 3
solution(numbers, num1, num2)

[2, 3, 4]

In [2]:
# 외계행성의 나이
def solution(age):
    str_ = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    result = ''
    for i in str(age):
        result += str_[int(i)]

    return result

age = 23
solution(age)

'cd'

In [7]:
# 진료순서 정하기
def solution(emergency):
    sort_emergency = sorted(emergency, reverse = True)
    result = []
    for i in emergency:
        result.append(sort_emergency.index(i)+1)
    return result

emergency = [3, 76, 24]
solution(emergency)

[3, 1, 2]

In [11]:
# 순서쌍의 개수
def solution(n):
    l = []
    for i in range(1, n+1):
        if n % i == 0:
            l.append((i, n//i))

    return len(l)

n = 20
solution(n)

6